<section class="section">
  <div class="container">
    <div class="row page-content">
      <div class="col-md-12">
        <div class="d-lg-flex align-items-center mb-4 gap-3">
          <h4 class="mb-0 text-primary">Equipment</h4>
          <div class="ms-auto"><a routerLink="/pages/add-equipment" class="btn btn-primary sqare-0 mt-2 mt-lg-0">
              <i class="bx bxs-plus-square"></i>Add Equipment</a></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card p-3">
              <div class="card-body">
                <app-loader *ngIf="loader"></app-loader>
                <div class="table-responsive">
                  <table class="example table dt-responsive nowrap" style="width:100%;">
                    <thead>
                      <tr>
                        <th>S.No</th>
                        <th>Equipment Code</th>
                        <th>Equipment Name</th>
                        <th>Cost</th>
                        <th>Mark Up (%)</th>
                        <th>Group</th>
                        <th>RM</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of equipmentData; let i = index">
                        <td>{{ skip + i+1 }}</td>
                        <td>{{ item.code }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.cost }}</td>
                        <td>{{ item.markUp }}</td>
                        <!-- <td>{{item.heatDissipation}}</td> -->
                        <td></td>
                        <td></td>
                        <td>
                          <div class="d-flex order-actions">
                            <a routerLink="/pages/brand" class="btn btn-brand me-2">Brand</a>
                            <a routerLink="/pages/specification" class="btn btn-spec me-2">Spec</a>
                            <a routerLink="/pages/edit-equipment/{{ item._id }}" class="text-success me-2"
                              data-bs-toggle="tooltip" title="View/Edit"><i class="bx bxs-edit"></i></a>
                            <a href="javascript:;" class="text-danger me-2" data-bs-toggle="tooltip" title="Delete"
                              (click)="delete(item._id)"><i class="bx bxs-trash"></i></a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="pagination-wrap">
                  <p>Current page: {{ page }}</p>
                  <ngb-pagination class="d-inline-block" [collectionSize]="count" [(page)]="page" (pageChange)="Load()" aria-label="Default pagination" [maxSize]="maxSize"></ngb-pagination>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
