.card{
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.full-width{
    margin-top:45px ;
}
h3{
    margin-top:40px;
    font-size: 24px;
    color: #317eac;
}