
<section class="section">
   <div class="container">
      <div class="row page-content">
         <div class="col-md-12">
            <div class="d-lg-flex align-items-center mb-4 gap-3">
               <h4 class="mb-0 text-primary">Edit Project </h4>
               <div class="ms-auto"><a routerLink="/project" class="btn btn-primary sqare-0 mt-2 mt-lg-0">
                  <i class="bx bx-table"></i>Manage Projects</a>
               </div>
            </div>
            <div class="card border-top border-0 border-4 border-primary">
               <div class="card-body p-4">
                  <form class="form-horizontal row" method="post">
                     <div class="col-md-6">
                        <label class=" form-label">Code</label>
                        <input type="text" class="form-control" name="h_code" value="Code"  fdprocessedid="kzc7tl">
                     </div>
                     <div class="col-md-6">
                        <label class=" form-label">Project Name</label>
                        <input type="text" class="form-control" name="h_short_name" value="Project Name"  fdprocessedid="lcdbjo">
                     </div>
                     <div class="col-md-6">
                        <label class=" form-label">Full Project Name</label>
                        <input type="text" class="form-control" name="h_full_name" value="Full Project Name"  fdprocessedid="dsh3qi">
                     </div>
                     <div class="col-md-6">
                        <label class=" form-label">Client/Owner</label>
                        <input type="text" class="form-control" name="owner" value="Client/Owner"  fdprocessedid="1ul5l">
                     </div>
                     <div class="col-md-6">
                        <label class=" form-label">Contract No</label>
                        <input type="text" class="form-control" name="contract_no" value="Contract No"  fdprocessedid="himqv">
                     </div>
                     <div class="col-md-6">
                        <label class=" form-label">No. of Beds</label>
                        <input type="text" class="form-control" name="bed_no" value="Beds"  fdprocessedid="5b87q9">
                     </div>
                     <div class="col-md-6">
                        <label class=" form-label">Classification</label>
                        <input type="text" class="form-control" name="hcl_code" value="Classification"  fdprocessedid="gqwnx">
                     </div>
                     <div class="col-md-6">
                        <label class=" form-label">Project Type</label>
                        <input type="text" class="form-control" name="type" value="Project Type"  fdprocessedid="x522z">
                     </div>
                     <div class="col-md-6">
                        <label class=" form-label">Company</label>
                        <select class="form-control" name="com_code" fdprocessedid="k7rd9e">
                           <option >-Select Company-</option>
                           <option value="100001">LIKAS NUCLEAR AND RADIOTHERAPY SPECIALIST HOSPITAL</option>
                           <option value="1234">HSS JV QATTA</option>
                           <option value="8766">HEALTH SOLUTION (SE ASIA) SDN BHD</option>
                           <option value="ACC-SP">HEALTH SOLUTIONS (SEA) SDN BHD</option>
                           <option value="CRH001">HOSPITAL REHABILITASI CHERAS</option>
                           <option value="GESB">GADANG ENGINEERING (M) SDN BHD</option>
                           <option value="HKKS001">KLINIK KESIHATAN</option>
                           <option value="HM">CADANGAN PEMBINAAN BANGUNAN BARU MAKMAL PATOLOGI</option>
                           <option value="HMED">PEMBINAAN BANGUNAN TAMBAHAN  HOSPITAL TANAH MERAH</option>
                           <option value="HPKK,UKM01">HOSPITAL KANAK KANAK UKM, KUALA LUMPUR</option>
                           <option value="HSM001">KONSORTIUM GADANG PEREMBUM</option>
                           <option value="HSM1234">HEALTH SOLUTION</option>
                           <option value="HSS-0001">PROPOSED DEVELOPMENT OF MAHSA SPECIALIST HOSPITAL</option>
                           <option value="LNRSH001">HEALTH SOLUTIONS (SE ASIA) SDN BHD</option>
                           <option value="MEP">MEP, HEALTH SOLUTION (M) SDN BHD</option>
                           <option value="MNE">MNE SOLUTIONS</option>
                           <option value="MSC-HKT">HEALTH SOLUTIONS (SEA) SDN BHD</option>
                           <option value="PTH001">HEALTH SOLUTION (M) SDN BHD</option>
                           <option value="ZCB">ZECON BERHAD</option>
                           <option value="001">shyla </option>
                           <option value="TRC001">TRANS RESOURCES CORPORATION SDN BHD </option>
                           <option value="MU">MUSYATI SDN BHD </option>
                           <option value="HSB">HANIMED SDN BHD</option>
                           <option value="PEN001">SERI LIBANA PPC JV SDN BHD</option>
                           <option value="PMB">PESONA METRO BERHAD</option>
                           <option value="PESB-1">PERBENA EMAS SDN BHD</option>
                           <option value="KKSB">KAYANGAN KEMAS SDN BHD</option>
                           <option value="OB-01">ORANGEBEAM</option>
                           <option value="IBR">IBRACO BERHAD</option>
                           <option value="SM ">SM PELANGI</option>
                           <option value="KPSB">KEMUNCAK PESAKA SDN BHD</option>
                           <option value="TCS">TCS GROUP HOLDINGS BHD</option>
                           <option value="RBJ">REKABINA JAYA SDN BHD</option>
                           <option value="RSP">RSP ARCHITECT SDN BHD</option>
                           <option value="WCT GANDA ">BLOK KLINIK PAKAR DAN WAD HOSPITAL PULAU PINANG (R</option>
                           <option value="WCT GANDA ">WCT CONSTRUCTION SDN BHD</option>
                           <option value="WCT">BLOK KLINIK PAKAR DAN WAD HOSPITAL PULAU PINANG</option>
                           <option value="QSE-01">QSE CONSTRUCTION SDN BHD</option>
                           <option value="PER-01">CADANGAN PEMBANGUNAN PUSAT REHABILITASI ROBOTIK </option>
                        </select>
                     </div>
                     <div class="col-md-6"></div>
                     <div class="col-md-6">
                        <label class=" form-label">Date Initiated Proposal</label>
                        <input type="text" id="datetimepicker" class="form-control" >
                     </div>
                     <div class="col-md-6">
                        <label class=" form-label">Proposed Facility Completion Date</label>
                        <input type="text" id="datetimepicker" class="form-control" >
                     </div>
                     <div class="col-md-6">
                        <label class=" form-label">Signature 1</label>
                        <input type="text" class="form-control" name="signature1" value="Signature 1"  fdprocessedid="xjrfa">
                     </div>
                     <div class="col-md-6">
                        <label class=" form-label">Signature 2</label>
                        <input type="text" class="form-control" name="signature2" value="Signature 2"  fdprocessedid="9mniza">
                     </div>
                     <div class="row mt-4">
                        <h4>Location</h4>
                        <hr>
                        <div class="col-md-6">
                            <label class=" form-label">Address 1</label>
                           
                              <input type="text" class="form-control" name="addr1" value="Address 1"  >
                          
                        </div>
                        <div class="col-md-6">
                            <label class=" form-label">Address 2</label>
                          
                              <input type="text" class="form-control" name="addr2" value="Address 2"  >
                           
                        </div>
                        <div class="col-md-6">
                            <label class=" form-label">City</label>
                           
                              <input type="text" class="form-control" name="city"   >
                           
                        </div>
                        <div class="col-md-6">
                            <label class=" form-label">Postal/Zip</label>
                           
                              <input type="text" class="form-control" name="postal"   >
                          
                        </div>
                        <div class="col-md-6">
                            <label class=" form-label">State/Prov.</label>
                          
                              <input type="text" class="form-control" name="state"   >
                           
                        </div>
                        <div class="col-md-6">
                            <label class=" form-label">Country</label>
                           
                              <input type="text" class="form-control" name="country"   >
                           
                        </div>
                        <div class="col-md-6">
                        <h4 class="mt-4">Currency Base Settings</h4>
                        <hr>
                        <table class="table table-condensed table-striped">
                           <tbody>
                              <tr>
                                 <th>Code</th>
                                 <th>Description</th>
                                 <th>Symbol</th>
                              </tr>
                           </tbody>
                           <tbody id="currency_table">
                              <tr>
                                 <td>MYR</td>
                                 <td>MALAYSIA RINGGIT</td>
                                 <td>$</td>
                              </tr>
                           </tbody>
                        </table>
                        <p><small>This settings is a one time settings only. Any changes cannot be made once you add and save.</small></p>
                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" fdprocessedid="o595l">Add</button>
                        <!--button type="button" class="btn btn-warning btn-xs">Remove</button-->
                     </div>
                     </div>
                     <div class="col-md-12 text-center mt-3">
                        <button type="submit" class="btn btn-primary px-4 me-3" fdprocessedid="hipqpp">Save</button>	
                        <a class="btn btn-secondary px-5" href="">Back</a>				
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>