<section class="section">
  <div class="container">
    <div class="row page-content">
      <div class="col-md-12">
        <div class="d-lg-flex align-items-center mb-4 gap-3">
          <h4 class="mb-0 text-primary">Department Transaction </h4>
        </div>
      </div>
      <div class="col-sm-12">
        <app-loader *ngIf="loader"></app-loader>
        <div class="table-responsive">
          <table id="table-info" class="table table-condensed">
            <tbody>
              <tr>
                <td>
                  <h6>Project Info</h6>
                </td>
                <td colspan="2"><strong>Code: </strong>{{project?.code | uppercase}}</td>
                <td><strong>Project Name: </strong>{{project?.name | uppercase}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div>
        <div>
          <div class="float-start d-lg-flex gap-3">
            <a class="btn btn-sm btn-success" routerLink="/pages/projects/{{projectType}}/{{projectId}}/equipment-list"> Equipment Allocation <i
                class="fa-solid fa-chevron-right fa-sm"></i></a>
          </div>
          <div class="float-end d-lg-flex gap-3">
            <!-- <button title="Add Department" type="button" class="btn btn-sm btn-primary" data-toggle="modal"
              data-target="#myModal2"> -->
            <button title="Add Department" type="button" class="btn btn-sm btn-primary" (click)="openAddDeptMod()">
              <i class="fal fa-file-plus"> </i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-4">
        <div class="card p-3">
          <div class="card-body d-flex flex-column">
            <app-loader *ngIf="loader"></app-loader>
            <!-- For search bar -->
            <div class="input-group mb-3" style="width: 300px; float: right;">
              <input type="text" class="form-control form-control" placeholder="Search" [(ngModel)]="searchText"
                (input)="searchDepartmentList()">
            </div>
            <div class="table-responsive">
              <table id="example" class="display table" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>
                      <input type="checkbox" [checked]="areAllDepartmentsSelected()"
                        (change)="toggleSelectAllDepartments()">
                    </th>
                    <th>Department</th>
                    <th>Code</th>
                    <th>Department Alias</th>
                    <th>Level</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr role="row" class="odd" *ngFor="let department of filteredDepartmentData; let i=index;">
                    <td>
                      <input type="checkbox" [checked]="department.selected" (change)="toggleSelection(department)">
                    </td>
                    <td>{{ department.name | uppercase}}</td>
                    <td class="editable">
                      <app-edit-input [data]="department.code" [departmentId]="department._id" [field]="'code'"
                        [projectId]="projectId" [type]="'department'"></app-edit-input>
                    </td>
                    <td>
                      <app-edit-input [data]="department.alias || department.name" [departmentId]="department._id"
                        [field]="'alias'" [projectId]="projectId" [type]="'department'"></app-edit-input>
                    </td>
                    <td>
                      <app-edit-input [data]="department.level || 'N/A'" [departmentId]="department._id" [field]="'level'"
                        [projectId]="projectId" [type]="'department'"></app-edit-input>
                    </td>
                    <td>
                      <div class="d-flex gap-3">
                        <a routerLink="/pages/projects/{{projectType}}/{{projectId}}/department-transaction/{{department._id}}/view-rooms"
                          class="btn btn-primary">View Rooms</a>

                        <button type="button" class="btn btn-sm btn-success" id="copy_paste" title="COPY"
                          (click)="copyDepartments(department)" [disabled]="!department.selected">
                          <i class='bx bxs-copy'></i>
                        </button>


                        <button type="button" class="btn btn-sm btn-danger" (click)="deleteDepartment(department._id)"
                          title="DELETE">
                          <i class='bx bxs-trash'></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Modal -->
<div class="container demo">
  <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" [ngClass]="showModal ? 'd-block' : 'd-none'">
    <div class="modal-dialog" role="document" [ngClass]="showModal ? 'right-0' : 'right-320'">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel2">Add Department</h4>
        </div>
        <div class="modal-body">
          <div class="d-flex justify-content-center align-items-center bg-light">
            <div class="card p-3 shadow">
              <div class="table-responsive">
                <table id="example1" class="example table dt-responsive nowrap display" cellspacing="0" width="100%">
                  <thead>
                    <tr role="row">
                      <th></th>
                      <th>Department</th>
                      <th>Code</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of departmentData; let i=index;">
                      <td>
                        <input class="checkbox" type="checkbox" name="{{item.name}}" value="{{item.code}}"
                          [(ngModel)]="item.selected">
                      </td>
                      <td>{{item.name | uppercase}}</td>
                      <td>{{item.code | uppercase}}</td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="add_department"
                  (click)="addDepartments()">Add</button>
                <button type="button" class="btn btn-warning" (click)="closeModal()">Close</button>
              </div>
            </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>