<section class="section">
    <div class="container">
       <div class="row page-content">
          <div class="col-md-12">
             <div class="d-lg-flex align-items-center mb-4 gap-3">
                <h4 class="mb-0 text-primary">Equipment - Brand (AA0003 - AIRWAY GUEDEL VARIOUS SIZES) </h4>
             </div>
             <hr>
          </div>

          <div class="col-sm-12">
            <div class="row">
                <form class="form-horizontal" method="post">
                    <div class="table-responsive">
                        <table>
                            <tbody>
                                <tr>
                                    <th style="width: 50px">No</th>
                                    <th>Supplier Name</th>
                                    <th>Brand</th>
                                    <th>model</th>
                                    <th>Country of Origin</th>
                                    <th>Unit Price</th>
                                    <th>Contact Person</th>
                                    <th>Tel/E-mail</th>
                                </tr>
                                <tr>
                                    <td >1</td>
                                    <td><input type="text" class="form-control" name="supplier[]" value="" fdprocessedid="9rxwli8"></td>
                                    <td><input type="text" class="form-control" name="brand[]" value="" fdprocessedid="spesu"></td>
                                    <td><input type="text" class="form-control" name="model[]" value="" fdprocessedid="klvgt7"></td>
                                    <td><input type="text" class="form-control" name="country_origin[]" value="" fdprocessedid="mgeoni"></td>
                                    <td><input type="text" class="form-control" name="unit_price[]" value="" fdprocessedid="5j6pmt"></td>
                                    <td><input type="text" class="form-control" name="spoc[]" value="" fdprocessedid="zome6s"></td>
                                    <td><input type="text" class="form-control" name="contact_details[]" value="" fdprocessedid="5kgoha"></td>
                                </tr>
                                <tr>
                                    <td >2</td>
                                    <td><input type="text" class="form-control" name="supplier[]" value="" fdprocessedid="g40vg8"></td>
                                    <td><input type="text" class="form-control" name="brand[]" value="" fdprocessedid="0d4z9t"></td>
                                    <td><input type="text" class="form-control" name="model[]" value="" fdprocessedid="h3qkcf"></td>
                                    <td><input type="text" class="form-control" name="country_origin[]" value="" fdprocessedid="9bpyar"></td>
                                    <td><input type="text" class="form-control" name="unit_price[]" value="" fdprocessedid="u823ko"></td>
                                    <td><input type="text" class="form-control" name="spoc[]" value="" fdprocessedid="jzhpl8"></td>
                                    <td><input type="text" class="form-control" name="contact_details[]" value="" fdprocessedid="u2cgxe"></td>
                                </tr>
                                <tr>
                                    <td >3</td>
                                    <td><input type="text" class="form-control" name="supplier[]" value="" fdprocessedid="j8ts4g"></td>
                                    <td><input type="text" class="form-control" name="brand[]" value="" fdprocessedid="jsjc8l"></td>
                                    <td><input type="text" class="form-control" name="model[]" value="" fdprocessedid="cjofgv"></td>
                                    <td><input type="text" class="form-control" name="country_origin[]" value="" fdprocessedid="wa06rr"></td>
                                    <td><input type="text" class="form-control" name="unit_price[]" value="" fdprocessedid="5x18v"></td>
                                    <td><input type="text" class="form-control" name="spoc[]" value="" fdprocessedid="qsd49o"></td>
                                    <td><input type="text" class="form-control" name="contact_details[]" value="" fdprocessedid="g4d0usv"></td>
                                </tr>
                                <tr>
                                    <td >4</td>
                                    <td><input type="text" class="form-control" name="supplier[]" value="" fdprocessedid="1gr5kf"></td>
                                    <td><input type="text" class="form-control" name="brand[]" value="" fdprocessedid="nm4l5p"></td>
                                    <td><input type="text" class="form-control" name="model[]" value="" fdprocessedid="uubvgk"></td>
                                    <td><input type="text" class="form-control" name="country_origin[]" value="" fdprocessedid="q8lgwl"></td>
                                    <td><input type="text" class="form-control" name="unit_price[]" value="" fdprocessedid="265dgl"></td>
                                    <td><input type="text" class="form-control" name="spoc[]" value="" fdprocessedid="wdsqt8"></td>
                                    <td><input type="text" class="form-control" name="contact_details[]" value="" fdprocessedid="l6xl9x"></td>
                                </tr>
                                <tr>
                                    <td >5</td>
                                    <td><input type="text" class="form-control" name="supplier[]" value="" fdprocessedid="pt3au"></td>
                                    <td><input type="text" class="form-control" name="brand[]" value="" fdprocessedid="qa4qha"></td>
                                    <td><input type="text" class="form-control" name="model[]" value="" fdprocessedid="wifyn"></td>
                                    <td><input type="text" class="form-control" name="country_origin[]" value="" fdprocessedid="ircky"></td>
                                    <td><input type="text" class="form-control" name="unit_price[]" value="" fdprocessedid="ffsbyp"></td>
                                    <td><input type="text" class="form-control" name="spoc[]" value="" fdprocessedid="vtsxsk"></td>
                                    <td><input type="text" class="form-control" name="contact_details[]" value="" fdprocessedid="dbjtcnu"></td>
                                </tr>
                                <tr><td colspan="8"><hr border="10px solid red"></td></tr>
                                <tr><td colspan="2"></td><td  colspan="4">Details for Testing &amp; Commissioning Report</td><td colspan="2"></td></tr>
                                <tr><td colspan="8"><hr border="10px solid red"></td></tr>
                                <tr>
                                    <th>Manufacturer</th>
                                    <th>Supplier Name</th>
                                    <th>Brand</th>
                                    <th>model</th>
                                    <th>Country of Origin</th>
                                    <th>Unit Price</th>
                                    <th>Contact Person</th>
                                    <th>Tel/E-mail</th>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control" name="manufacturer_tac[]" value="" fdprocessedid="3uf22k"></td>
                                    <td><input type="text" class="form-control" name="supplier_tac[]" value="" fdprocessedid="6g8axm"></td>
                                    <td><input type="text" class="form-control" name="brand_tac[]" value="" fdprocessedid="6txkwb"></td>
                                    <td><input type="text" class="form-control" name="model_tac[]" value="" fdprocessedid="sqe1l"></td>
                                    <td><input type="text" class="form-control" name="country_origin_tac[]" value="" fdprocessedid="9ygq3f"></td>
                                    <td><input type="text" class="form-control" name="unit_price_tac[]" value="" fdprocessedid="o4zw2"></td>
                                    <td><input type="text" class="form-control" name="spoc_tac[]" value="" fdprocessedid="i7if0r"></td>
                                    <td><input type="text" class="form-control" name="contact_details_tac[]" value="" fdprocessedid="vqqe4l"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12 text-center mt-3">
                        <a class="btn btn-primary px-4 me-3" (click)="save()">Save</a>
                        <a class="btn btn-secondary px-4" (click)="cancel()">Cancel</a>
                  </div>
                </form>
            </div>
          </div>
       </div>
    </div>
 </section>
