<section class="section">
    <div class="container-fluid">
       <div class="row page-content">
          <div class="col-md-12">
             <div class="d-lg-flex align-items-center mb-4 gap-3">
                <h4 class="mb-0 text-primary">Equipment - Brand (AA0003 - AIRWAY GUEDEL VARIOUS SIZES) </h4>
             </div>
             <hr>
          </div>
          <div class="col-sm-12">
            <div class="row">
                <form [formGroup]="brandForm" class="form-horizontal">
                    <div class="table-responsive">
                        <table>
                            <tbody>
                                <tr>
                                    <th style="width: 50px">No</th>
                                    <th>Supplier Name</th>
                                    <th>Brand</th>
                                    <th>model</th>
                                    <th>Country of Origin</th>
                                    <th>Unit Price</th>
                                    <th>Contact Person</th>
                                    <th>Tel/E-mail</th>
                                </tr>
                                <tr formArrayName="brands" *ngFor="let brand of brandArray.controls; let i = index;">
                                    <ng-container [formGroupName]='i'>
                                        <td >{{i+1}}</td>
                                        <td><input type="text" class="form-control" formControlName="supplier"></td>
                                        <td><input type="text" class="form-control" formControlName="brand"></td>
                                        <td><input type="text" class="form-control" formControlName="model"></td>
                                        <td><input type="text" class="form-control" formControlName="country_origin"></td>
                                        <td><input type="text" class="form-control" formControlName="unit_price"></td>
                                        <td><input type="text" class="form-control" formControlName="spoc"></td>
                                        <td><input type="text" class="form-control" formControlName="contact_details"></td>
                                    </ng-container>
                                </tr>
                                <tr><td colspan="8"><hr></td></tr>
                                <tr>
                                    <td colspan="2"></td><td  colspan="4">Details for Testing &amp; Commissioning Report</td><td colspan="2"></td>
                                </tr>
                                <tr><td colspan="8"><hr></td></tr>
                                <tr>
                                    <th>Manufacturer</th>
                                    <th>Supplier Name</th>
                                    <th>Brand</th>
                                    <th>model</th>
                                    <th>Country of Origin</th>
                                    <th>Unit Price</th>
                                    <th>Contact Person</th>
                                    <th>Tel/E-mail</th>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control" formControlName="manufacturer_tac"></td>
                                    <td><input type="text" class="form-control" formControlName="supplier_tac"></td>
                                    <td><input type="text" class="form-control" formControlName="brand_tac"></td>
                                    <td><input type="text" class="form-control" formControlName="model_tac"></td>
                                    <td><input type="text" class="form-control" formControlName="country_origin_tac"></td>
                                    <td><input type="text" class="form-control" formControlName="unit_price_tac"></td>
                                    <td><input type="text" class="form-control" formControlName="spoc_tac"></td>
                                    <td><input type="text" class="form-control" formControlName="contact_details_tac"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12 text-center mt-3">
                        <a class="btn btn-primary px-4 me-3" (click)="save()">Save</a>
                        <a class="btn btn-secondary px-4" (click)="cancel()">Cancel</a>
                    </div>
                </form>
            </div>
          </div>
       </div>
    </div>
 </section>
