<div class="page-wrapper">
  <section class="section">
    <div class="container">
      <form [formGroup]="addgroup" (ngSubmit)="SaveGroupData()">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="card border-top border-0 border-4 border-primary">
              <div class="card-body p-5">
                <app-loader *ngIf="loader"></app-loader>
                <div class="card-title d-flex align-items-center">
                  <h5 class="mb-0 text-primary">{{ isEdit ? 'Edit Group ' : 'Add Group'}}</h5>
                </div>
                <div class="row">
                  <div class="offset-lg-3 col-lg-6">
                    <div class="mb-3" *ngIf="isEdit">
                      <input name="_id" type="hidden" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="inputFirstName" class="form-label">Group Name</label>
                  <input type="text" class="form-control" id="inputFirstName" placeholder="Enter Group Name"
                    formControlName="name" autocomplete="off" [ngClass]="{'is-invalid': submitted && addgroup.controls['name'].errors}" />
                  <p class="text-danger" *ngIf="submitted && addgroup.controls['name'].errors">Group name is required</p>
                </div>
                <div class="col-md-12" *ngIf="error">
                  <span class={{messageclass}}>{{message}}</span>
                </div>
                <div class="col-12 text-center mt-3">
                  <button type="submit" class="btn btn-primary px-5 me-3">{{ isEdit ? 'Update' : 'Save'}}</button>
                  <a routerLink="/pages/admin-group" class="btn btn-secondary px-5">Cancel</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
