<section class="section">
  <div class="container">
    <div class="row page-content">
      <div class="col-md-12">
        <div class="d-lg-flex align-items-center mb-4 gap-3">
          <h4 class="mb-0 text-primary">Department Transaction </h4>
        </div>
      </div>
      <div class="col-sm-12">
        <table id="table-info" class="table table-condensed">
          <tbody>
            <tr>
              <td>
                <h6>Project Info</h6>
              </td>
              <td colspan="2"><strong>Code: </strong>ASM</td>
              <td><strong>Project Name: </strong>ARUNAMARI SPECIALIST MEDICAL CENTRE</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <div>
          <div class="float-start d-lg-flex gap-3">
            <a class="btn btn-sm btn-success" routerLink="/equipment-allocation"> Equipment Allocation <i
                class="fa-solid fa-chevron-right fa-sm"></i></a>
          </div>
          <div class="float-end d-lg-flex gap-3">
            <button title="Add Department" type="button" class="btn btn-sm btn-primary" data-toggle="modal"
              data-target="#myModal2">
              <i class="fal fa-file-plus"> </i>
            </button>
            <button type="button" class="btn btn-sm btn-success" id="copy_paste" title="COPY"><i
                class='bx bxs-copy'></i></button>
            <button type="button" class="btn btn-sm btn-danger" id="delete_eq" title="DELETE"><i
                class='bx bxs-trash'></i></button>
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-4">
        <div class="card p-3">
          <div class="card-body">
            <table id="example" class="display" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th></th>
                  <th>Department</th>
                  <th>Code</th>
                  <th>Department Alias</th>
                  <th>Level</th>
                  <th>Action</th>


              </thead>

              <tbody>


                <tr>
                  <td><input type="checkbox" name="h_dep_id" value="947"></td>
                  <td>ADMINISTRATION DEPARTMENT</td>
                  <td>AD</td>
                  <td>ADMINISTRATION (L4)</td>
                  <td></td>
                  <td>
                    <a routerLink="/project/{{ item }}/department-transaction/view-rooms" class="btn btn-xs btn-primary">View Rooms</a>
                  </td>
                </tr>

                <tr>
                  <td><input type="checkbox" name="h_dep_id" value="947"></td>
                  <td>ADMINISTRATION DEPARTMENT</td>
                  <td>AD</td>
                  <td>ADMINISTRATION (L4)</td>
                  <td></td>
                  <td>
                    <a routerLink="/project/{{ item}}/department-transaction/view-rooms" class="btn btn-xs btn-primary">View Rooms</a>

                  </td>
                </tr>



                <tr>
                  <td><input type="checkbox" name="h_dep_id" value="947"></td>
                  <td>ADMINISTRATION DEPARTMENT</td>
                  <td>AD</td>
                  <td>ADMINISTRATION (L4)</td>
                  <td></td>
                  <td>
                    <a routerLink="/project/{{ item}}/department-transaction/view-rooms" class="btn btn-xs btn-primary">View Rooms</a>

                  </td>
                </tr>



                <tr>
                  <td><input type="checkbox" name="h_dep_id" value="947"></td>
                  <td>ADMINISTRATION DEPARTMENT</td>
                  <td>AD</td>
                  <td>ADMINISTRATION (L4)</td>
                  <td></td>
                  <td>
                    <a routerLink="/project/{{ item}}/department-transaction/view-rooms" class="btn btn-xs btn-primary">View Rooms</a>

                  </td>
                </tr>




              </tbody>


            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<div class="container demo">
  <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel2">Sidebar</h4>
        </div>
        <div class="modal-body">
          <div class="d-flex justify-content-center align-items-center bg-light">
            <div class="card p-3 shadow">
              <h4>Add Department</h4>
              <table id="example1" class="display" cellspacing="0" width="100%">
                <thead>
                  <tr role="row">
                    <th></th>
                    <th>Department</th>
                    <th>Code</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input class="checkbox" type="checkbox" name="" value=""></td>
                    <td>ACADEMIC OFFICE</td>
                    <td>234</td>
                  </tr>
                  <tr>
                    <td><input class="checkbox" type="checkbox" name="" value=""></td>
                    <td>ADMINISTRATION DEPARTMENT</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td><input class="checkbox" type="checkbox" name="" value=""></td>
                    <td>ADMINISTRATION MEDICAL</td>
                    <td>3</td>
                  </tr>
                </tbody>
              </table>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="add_department">Add</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
