<app-header></app-header>
<section class="section">
   <div class="container">
      <div class="row page-content">
         <div class="col-md-12">
            <div class="d-lg-flex align-items-center mb-4 gap-3">
               <h4 class="mb-0 text-primary">Department Transaction </h4>
            </div>
         </div>
         <div class="col-sm-12">
            <table id="table-info" class="table table-condensed">
               <tbody>
                  <tr>
                     <td>
                        <h6>Project Info</h6>
                     </td>
                     <td colspan="2"><strong>Code: </strong>ASM</td>
                     <td><strong>Project Name: </strong>ARUNAMARI SPECIALIST MEDICAL CENTRE</td>
                  </tr>
               </tbody>
            </table>
         </div>
         <div>
            <div>
               <div class="float-start d-lg-flex gap-3">
                  <a class="btn btn-sm btn-success" routerLink="/equipment-allocation"> Equipment Allocation <i class="fa-solid fa-chevron-right fa-sm"></i></a>
               </div>

               <div class="float-end d-lg-flex gap-3">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Add Department</button>
                                <button type="button" class="btn btn-success" id="copy_department">Copy</button>
                                <button type="button" class="btn btn-danger" id="delete_department">Delete</button>
        </div>
            </div>
         </div>
         <div class="col-md-12 mt-4">
            <div class="card p-3">
               <div class="card-body">
                  <table id="example" class="display" cellspacing="0" width="100%">
                     <thead>
                      
                        <tr>
                            <th></th>
                           <th >Department</th>
                           <th >Code</th>
                           <th >Department Alias</th>
                           <th >Level</th>
                           <th >Action</th>
                           
                        </tr>
                     </thead>

                     <tbody>

                     
                        <tr >
                            <td><input type="checkbox" name="h_dep_id" value="947"></td>
                            <td>ADMINISTRATION DEPARTMENT</td>
                            <td >AD</td>
                            <td>ADMINISTRATION (L4)</td>
                            <td ></td>
                            <td>
                                <a href="" class="btn btn-xs btn-primary">View Rooms</a>
                            </td>
                        </tr>

                        <tr >
                            <td><input type="checkbox" name="h_dep_id" value="947"></td>
                            <td>ADMINISTRATION DEPARTMENT</td>
                            <td >AD</td>
                            <td>ADMINISTRATION (L4)</td>
                            <td ></td>
                            <td>
                                <a href="" class="btn btn-xs btn-primary">View Rooms</a>
                            </td>
                        </tr>
                  


                        <tr >
                            <td><input type="checkbox" name="h_dep_id" value="947"></td>
                            <td>ADMINISTRATION DEPARTMENT</td>
                            <td >AD</td>
                            <td>ADMINISTRATION (L4)</td>
                            <td ></td>
                            <td>
                                <a href="" class="btn btn-xs btn-primary">View Rooms</a>
                            </td>
                        </tr>
                  


                        <tr >
                            <td><input type="checkbox" name="h_dep_id" value="947"></td>
                            <td>ADMINISTRATION DEPARTMENT</td>
                            <td >AD</td>
                            <td>ADMINISTRATION (L4)</td>
                            <td ></td>
                            <td>
                                <a href="" class="btn btn-xs btn-primary">View Rooms</a>
                            </td>
                        </tr>
                  
                  


                </tbody>


                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>