<section class="section">
  <div class="container">
    <div class="row page-content">
      <div class="col-md-12">
        <div class="d-lg-flex align-items-center mb-4 gap-3">
          <h4 class="mb-0 text-primary">Add Project </h4>
          <div class="ms-auto"><a routerLink="/pages/projects" class="btn btn-primary sqare-0 mt-2 mt-lg-0">
              <i class="bx bx-table"></i>Manage Projects</a>
          </div>
        </div>
        <div class="card border-top border-0 border-4 border-primary">
          <div class="card-body p-4">
            <form class="form-horizontal row" method="post" [formGroup]="addDepartment" (ngSubmit)="SaveData()">
              <div class="col-md-6">
                <label class="form-label">Code</label>
                <input type="text" class="form-control" name="code" placeholder="Code" formControlName="code"
                  [ngClass]="{'is-invalid':submitted && addDepartment.controls['code'].errors}" />
                <div class="text-danger" *ngIf="submitted && addDepartment.controls['code'].errors?.['required']">Code
                  is required</div>
              </div>
              <div class="col-md-6">
                <label class="form-label">Project Name</label>
                <input type="text" class="form-control" name="name" placeholder="Project Name"
                  formControlName="name"
                  [ngClass]="{'is-invalid':submitted && addDepartment.controls['name'].errors}" />
                <div class="text-danger"
                  *ngIf="submitted && addDepartment.controls['name'].errors?.['required']">Project name is
                  required</div>
              </div>
              <div class="col-md-6">
                <label class="form-label">Full Project Name</label>
                <input type="text" class="form-control" name="fullName" placeholder="Full Project Name"
                  formControlName="fullName"
                  [ngClass]="{'is-invalid':submitted && addDepartment.controls['fullName'].errors}" />
                <div class="text-danger"
                  *ngIf="submitted && addDepartment.controls['fullName'].errors?.['required']">Full project name
                  is required</div>
              </div>
              <div class="col-md-6">
                <label class="form-label">Client/Owner</label>
                <input type="text" class="form-control" name="clientOwner" placeholder="Client/Owner"
                  formControlName="clientOwner"
                  [ngClass]="{'is-invalid':submitted && addDepartment.controls['clientOwner'].errors}" />
                <div class="text-danger"
                  *ngIf="submitted && addDepartment.controls['clientOwner'].errors?.['required']">Client/Owner is
                  required</div>
              </div>
              <div class="col-md-6">
                <label class="form-label">Contract No</label>
                <input type="text" class="form-control" name="contractNo" placeholder="Contract No"
                  formControlName="contractNo"
                  [ngClass]="{'is-invalid':submitted && addDepartment.controls['contractNo'].errors}" />
                <div class="text-danger" *ngIf="submitted && addDepartment.controls['contractNo'].errors?.['required']">
                  Contract number is required</div>
              </div>
              <div class="col-md-6">
                <label class="form-label">No. of Beds</label>
                <input type="text" class="form-control" name="noOfBeds" placeholder="Beds" formControlName="noOfBeds"
                  [ngClass]="{'is-invalid':submitted && addDepartment.controls['noOfBeds'].errors}" />
                <div class="text-danger" *ngIf="submitted && addDepartment.controls['noOfBeds'].errors?.['required']">
                  No. of beds is required</div>
              </div>
              <div class="col-md-6">
                <label class="form-label">Classification</label>
                <input type="text" class="form-control" name="classification" placeholder="Classification"
                  formControlName="classification"
                  [ngClass]="{'is-invalid':submitted && addDepartment.controls['classification'].errors}" />
                <div class="text-danger"
                  *ngIf="submitted && addDepartment.controls['classification'].errors?.['required']">Classification is
                  required</div>
              </div>
              <div class="col-md-6">
                <label class="form-label">Project Type</label>
                <input type="text" class="form-control" name="type" placeholder="Project Type"
                  formControlName="type"
                  [ngClass]="{'is-invalid':submitted && addDepartment.controls['type'].errors}" />
                <div class="text-danger"
                  *ngIf="submitted && addDepartment.controls['type'].errors?.['required']">Project Type is
                  required</div>
              </div>
              <div class="col-md-6">
                <label class="form-label">Company</label>
                <select class="form-control" name="company" formControlName="company"
                  [ngClass]="{'is-invalid':submitted && addDepartment.controls['company'].errors}">
                  <option value="">-Select Company-</option>
                  <option value="100001">LIKAS NUCLEAR AND RADIOTHERAPY SPECIALIST HOSPITAL</option>
                  <option value="1234">HSS JV QATTA</option>
                  <option value="8766">HEALTH SOLUTION (SE ASIA) SDN BHD</option>
                </select>
                <div class="text-danger" *ngIf="submitted && addDepartment.controls['company'].errors?.['required']">
                  Company is required</div>
              </div>
              <div class="col-md-6">
                <label class="form-label">Signature 1</label>
                <input type="text" class="form-control" name="signature1" placeholder="Signature 1"
                  formControlName="signature1"
                  [ngClass]="{'is-invalid':submitted && addDepartment.controls['signature1'].errors}" />
                <div class="text-danger" *ngIf="submitted && addDepartment.controls['signature1'].errors?.['required']">
                  Signature 1 is required</div>
              </div>
              <div class="col-md-6">
                <label class="form-label">Signature 2</label>
                <input type="text" class="form-control" name="signature2" placeholder="Signature 2"
                  formControlName="signature2"
                  [ngClass]="{'is-invalid':submitted && addDepartment.controls['signature2'].errors}" />
                <div class="text-danger" *ngIf="submitted && addDepartment.controls['signature2'].errors?.['required']">
                  Signature 2 is required</div>
              </div>
              <div class="col-md-12 text-center mt-3">
                <button type="submit" class="btn btn-primary px-4 me-3">{{ isEdit ? 'Update' : 'Save'}}</button>
                <a routerLink="/pages/projects"><i class="material-icon">Cancel</i></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
