
<app-header></app-header>
<div class="page-wrapper">
  <section class="section">
      <div class="container">
          <div class="row page-content">
              <div class="col-md-12">
                  <div class="card p-3">
                      <div class="card-body">
                        <div class="table-responsive ">
                          <table class="table mb-0">
                              <thead class="table-light">
                                  <tr>
                                      <th>Group</th>
                                      <th class="text-center">Project</th>
                                      <th>Report Type</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>Client</td>
                                      <td>
                                          <table class="table">
                                              <tbody>
                                                <tr>
                                                  <td>ASA</td>
                                                      <td>ACC Sham</td>
                                                      <td>
                                                          <label class="checkbox-inline me-2">
                                                              <input type="checkbox" class="form-check-input" name="" value="1"> View
                                                            </label>
                                                            <label class="checkbox-inline me-2">
                                                              <input type="checkbox" class="form-check-input" name="" value="1"> Add
                                                            </label>
                                                            <label class="checkbox-inline me-2">
                                                              <input type="checkbox" class="form-check-input" name="" value="1"> Edit
                                                            </label>
                                                            <label class="checkbox-inline me-2">
                                                              <input type="checkbox"  class="form-check-input" name="" value="1"> Delete
                                                            </label>
                                                      </td>
                                                  </tr>
                                                <tr>
                                                      <td>Alfreds Futterkiste</td>
                                                      <td>Maria Anders</td>
                                                      <td>
                                                          <label class="checkbox-inline me-2">
                                                              <input type="checkbox" class="form-check-input" name="" value="1"> View
                                                            </label>
                                                            <label class="checkbox-inline me-2">
                                                              <input type="checkbox" class="form-check-input" name="" value="1"> Add
                                                            </label>
                                                            <label class="checkbox-inline me-2">
                                                              <input type="checkbox" class="form-check-input" name="" value="1"> Edit
                                                            </label>
                                                            <label class="checkbox-inline me-2">
                                                              <input type="checkbox"  class="form-check-input" name="" value="1"> Delete
                                                            </label>
                                                      </td>
                                                  </tr>
                                                <tr>
                                                  <td>Alfreds Futterkiste</td>
                                                  <td>Maria Anders</td>
                                                  <td>
                                                      <label class="checkbox-inline me-2">
                                                          <input type="checkbox" class="form-check-input" name="" value="1"> View
                                                        </label>
                                                        <label class="checkbox-inline me-2">
                                                          <input type="checkbox" class="form-check-input" name="" value="1"> Add
                                                        </label>
                                                        <label class="checkbox-inline me-2">
                                                          <input type="checkbox" class="form-check-input" name="" value="1"> Edit
                                                        </label>
                                                        <label class="checkbox-inline me-2">
                                                          <input type="checkbox"  class="form-check-input" name="" value="1"> Delete
                                                        </label>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                      </td>
                                      <td>
                                          <label class="checkbox-inline me-2">
                                              <input type="checkbox" class="form-check-input" name="" value="1"> Pdf
                                            </label>
                                            <label class="checkbox-inline me-2">
                                              <input type="checkbox"  class="form-check-input" name="" value="1"> Doc
                                            </label>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>Testing</td>
                                      <td>
                                          <table class="table">
                                              <tbody>
                                                <tr>
                                                  <td>ASA</td>
                                                      <td>ACC Sham</td>
                                                      <td>
                                                          <label class="checkbox-inline me-2">
                                                              <input type="checkbox" class="form-check-input" name="" value="1"> View
                                                            </label>
                                                            <label class="checkbox-inline me-2">
                                                              <input type="checkbox" class="form-check-input" name="" value="1"> Add
                                                            </label>
                                                            <label class="checkbox-inline me-2">
                                                              <input type="checkbox" class="form-check-input" name="" value="1"> Edit
                                                            </label>
                                                            <label class="checkbox-inline me-2">
                                                              <input type="checkbox"  class="form-check-input" name="" value="1"> Delete
                                                            </label>
                                                      </td>
                                                  </tr>
                                                <tr>
                                                      <td>Alfreds Futterkiste</td>
                                                      <td>Maria Anders</td>
                                                      <td>
                                                          <label class="checkbox-inline me-2">
                                                              <input type="checkbox" class="form-check-input" name="" value="1"> View
                                                            </label>
                                                            <label class="checkbox-inline me-2">
                                                              <input type="checkbox" class="form-check-input" name="" value="1"> Add
                                                            </label>
                                                            <label class="checkbox-inline me-2">
                                                              <input type="checkbox" class="form-check-input" name="" value="1"> Edit
                                                            </label>
                                                            <label class="checkbox-inline me-2">
                                                              <input type="checkbox"  class="form-check-input" name="" value="1"> Delete
                                                            </label>
                                                      </td>
                                                  </tr>
                                                <tr>
                                                  <td>Alfreds Futterkiste</td>
                                                  <td>Maria Anders</td>
                                                  <td>
                                                      <label class="checkbox-inline me-2">
                                                          <input type="checkbox" class="form-check-input" name="" value="1"> View
                                                        </label>
                                                        <label class="checkbox-inline me-2">
                                                          <input type="checkbox" class="form-check-input" name="" value="1"> Add
                                                        </label>
                                                        <label class="checkbox-inline me-2">
                                                          <input type="checkbox" class="form-check-input" name="" value="1"> Edit
                                                        </label>
                                                        <label class="checkbox-inline me-2">
                                                          <input type="checkbox"  class="form-check-input" name="" value="1"> Delete
                                                        </label>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                      </td>
                                      <td>
                                          <label class="checkbox-inline me-2">
                                              <input type="checkbox" class="form-check-input" name="" value="1"> Pdf
                                            </label>
                                            <label class="checkbox-inline me-2">
                                              <input type="checkbox"  class="form-check-input" name="" value="1"> Doc
                                            </label>
                                      </td>
          
                                  </tr>
                                  <tr>
                                      <td>Admin</td>
                                      <td>
                                          <table class="table">
                                              <tbody>
                                                <tr>
                                                  <td>ASA</td>
                                                      <td>ACC Sham</td>
                                                      <td>
                                                          <label class="checkbox-inline me-2">
                                                              <input type="checkbox" class="form-check-input" name="" value="1"> View
                                                            </label>
                                                            <label class="checkbox-inline me-2">
                                                              <input type="checkbox" class="form-check-input" name="" value="1"> Add
                                                            </label>
                                                            <label class="checkbox-inline me-2">
                                                              <input type="checkbox" class="form-check-input" name="" value="1"> Edit
                                                            </label>
                                                            <label class="checkbox-inline me-2">
                                                              <input type="checkbox"  class="form-check-input" name="" value="1"> Delete
                                                            </label>
                                                      </td>
                                                  </tr>
                                                <tr>
                                                      <td>Alfreds Futterkiste</td>
                                                      <td>Maria Anders</td>
                                                      <td>
                                                          <label class="checkbox-inline me-2">
                                                              <input type="checkbox" class="form-check-input" name="" value="1"> View
                                                            </label>
                                                            <label class="checkbox-inline me-2">
                                                              <input type="checkbox" class="form-check-input" name="" value="1"> Add
                                                            </label>
                                                            <label class="checkbox-inline me-2">
                                                              <input type="checkbox" class="form-check-input" name="" value="1"> Edit
                                                            </label>
                                                            <label class="checkbox-inline me-2">
                                                              <input type="checkbox"  class="form-check-input" name="" value="1"> Delete
                                                            </label>
                                                      </td>
                                                  </tr>
                                                <tr>
                                                  <td>Alfreds Futterkiste</td>
                                                  <td>Maria Anders</td>
                                                  <td>
                                                      <label class="checkbox-inline me-2">
                                                          <input type="checkbox" class="form-check-input" name="" value="1"> View
                                                        </label>
                                                        <label class="checkbox-inline me-2">
                                                          <input type="checkbox" class="form-check-input" name="" value="1"> Add
                                                        </label>
                                                        <label class="checkbox-inline me-2">
                                                          <input type="checkbox" class="form-check-input" name="" value="1"> Edit
                                                        </label>
                                                        <label class="checkbox-inline me-2">
                                                          <input type="checkbox"  class="form-check-input" name="" value="1"> Delete
                                                        </label>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                      </td>
                                      <td>
                                          <label class="checkbox-inline me-2">
                                              <input type="checkbox" class="form-check-input" name="" value="1"> Pdf
                                            </label>
                                            <label class="checkbox-inline me-2">
                                              <input type="checkbox"  class="form-check-input" name="" value="1"> Doc
                                            </label>
                                      </td>
          
                                  </tr>
                                  
                                  
                              </tbody>
                          </table>
                      </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</div>


<!--end page wrapper -->