<div class="">
  <div class="page-content">
    <div class="container">

      <div class="row">

        <div class="col-lg-12">

          <h2>MEPS1</h2>
          <P>Medical Equipment Planning Software</P>
          <div class="full-height">Our robust equipment planning software provides detailed medical
            equipment information and cost models during project planning and implementation. An
            intrinsic part of our services is coordinating & overseeing the installation, transfer and
            commissioning of medical equipment & technology.</div>
        </div>
      </div>
    </div>
  </div>
</div>
