<div class="">
    <div class="page-content">
        <div class="container">

            <div class="row">

                <div class="col-lg-12">

                    <h2>MEPS1</h2>
                    <P>Medical Equipment Planning Software</P>
                    <div class="full-height">Our robust equipment planning software provides detailed medical
                        equipment information and cost models during project planning and implementation. An
                        intrinsic part of our services is coordinating & overseeing the installation, transfer and
                        commissioning of medical equipment & technology.</div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- <div class="page-header"> -->
<!-- <div class="page-content">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-2 row-cols-xxl-4">
            <div class="col">
                <div class="card radius-10 bg-gradient-cosmic">
                    <div class="card-body">
                        <p class="mb-0 text-white">No of Companies</p>
                        <div class="d-flex align-items-center">
                            <div class="me-auto">
                                <h4 class="my-1 text-white">4805</h4>
                                <p class="mb-0 font-13 text-white">+2.5% from last<br class="break" style="display: none;"> week</p>
                            </div>
                            <div id="chart1"></div>
                        </div>
                    </div>
                </div>
            </div> -->
<!-- <div class="col">
                <div class="card radius-10 bg-gradient-ibiza">
                    <div class="card-body">
                        <p class="mb-0 text-white">No of Projects</p>
                        <div class="d-flex align-items-center">
                            <div class="me-auto">
                                <h4 class="my-1 text-white">84,245</h4>
                                <p class="mb-0 font-13 text-white">+5.4% from last<br class="break" style="display: none;"> week</p>
                            </div>
                            <div id="chart2"></div>
                        </div>
                    </div>
                </div>
            </div> -->
<!-- <div class="col">
                <div class="card radius-10 bg-gradient-ohhappiness">
                    <div class="card-body">
                        <p class="mb-0 text-white">No of Equipments</p>
                        <div class="d-flex align-items-center">
                            <div class="me-auto">
                                <h4 class="my-1 text-white">34.6k</h4>
                                <p class="mb-0 font-13 text-white">-4.5% from last<br class="break" style="display: none;"> week</p>
                            </div>
                            <div id="chart3"></div>
                        </div>
                    </div>
                </div>
            </div> -->
<!-- <div class="col">
                <div class="card radius-10 bg-gradient-kyoto">
                    <div class="card-body">
                        <p class="mb-0 text-dark">No of Templates</p>
                        <div class="d-flex align-items-center">
                            <div class="me-auto">
                                <h4 class="my-1 text-dark">8.4k</h4>
                                <p class="mb-0 font-13 text-dark">+8.4% from last<br class="break" style="display: none;"> week</p>
                            </div>
                            <div id="chart4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
<!--end row-->
<!-- <div class="row">
            <div class="col-12 col-lg-12">
                <div class="card radius-10">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div>
                                <h6 class="mb-0">Month Overview</h6>
                            </div>
                            <div class="dropdown ms-auto">
                                <a class="dropdown-toggle dropdown-toggle-nocaret" href="#" data-bs-toggle="dropdown"><i class='bx bx-dots-horizontal-rounded font-22 text-option'></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="javascript:;">Action</a>
                                    </li>
                                    <li><a class="dropdown-item" href="javascript:;">Another action</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="javascript:;">Something else here</a>
                                    </li>
                                </ul>
                            </div>
                        </div> -->
<!-- <div class="chart-container-1">
                            <canvas id="chart5"></canvas>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-0 row-group text-center border-top">
                        <div class="col">
                            <div class="p-3">
                                <h4 class="mb-0">168</h4>
                                <small class="mb-0">No of Companies <span> <i class="bx bx-up-arrow-alt align-middle"></i> 2.43%</span></small>
                            </div>
                        </div>
                        <div class="col">
                            <div class="p-3">
                                <h4 class="mb-0">856</h4>
                                <small class="mb-0">No of Projects <span> <i class="bx bx-up-arrow-alt align-middle"></i> 12.65%</span></small>
                            </div>
                        </div>
                        <div class="col">
                            <div class="p-3">
                                <h4 class="mb-0">2400</h4>
                                <small class="mb-0">No of Equipments <span> <i class="bx bx-up-arrow-alt align-middle"></i> 5.62%</span></small>
                            </div>
                        </div>
                        <div class="col">
                            <div class="p-3">
                                <h4 class="mb-0">4,562</h4>
                                <small class="mb-0">No of Templates <span> <i class="bx bx-up-arrow-alt align-middle"></i> 12.62%</span></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
<!--end row-->
<!-- <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card radius-10">
                    <div class="card-body">
                     <div class="d-flex align-items-center">
                         <div>
                             <h6 class="mb-0">Top Categories</h6>
                         </div>
                         <div class="dropdown ms-auto">
                             <a class="dropdown-toggle dropdown-toggle-nocaret" href="#" data-bs-toggle="dropdown"><i class='bx bx-dots-horizontal-rounded font-22 text-option'></i>
                             </a>
                             <ul class="dropdown-menu">
                                 <li><a class="dropdown-item" href="javascript:;">Action</a>
                                 </li>
                                 <li><a class="dropdown-item" href="javascript:;">Another action</a>
                                 </li>
                                 <li>
                                     <hr class="dropdown-divider">
                                 </li>
                                 <li><a class="dropdown-item" href="javascript:;">Something else here</a>
                                 </li>
                             </ul>
                         </div>
                     </div>
                     <div class="chart-container-1 mt-4">
                         <canvas id="chart6"></canvas>
                       </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card radius-10">
                    <div class="card-body">
                     <div class="d-flex align-items-center">
                         <div>
                             <h6 class="mb-0">Product Views</h6>
                         </div>
                         <div class="dropdown ms-auto">
                             <a class="dropdown-toggle dropdown-toggle-nocaret" href="#" data-bs-toggle="dropdown"><i class='bx bx-dots-horizontal-rounded font-22 text-option'></i>
                             </a>
                             <ul class="dropdown-menu">
                                 <li><a class="dropdown-item" href="javascript:;">Action</a>
                                 </li>
                                 <li><a class="dropdown-item" href="javascript:;">Another action</a>
                                 </li>
                                 <li>
                                     <hr class="dropdown-divider">
                                 </li>
                                 <li><a class="dropdown-item" href="javascript:;">Something else here</a>
                                 </li>
                             </ul>
                         </div>
                     </div>
                     <div class="chart-container-1 mt-4">
                         <canvas id="chart7"></canvas>
                       </div>
                    </div>
                </div>
            </div>
            </div> --><!--end row-->
<!-- </div>
</div> -->