
.form-class{
    width: 290px;
    padding: 8px 10px;
    border: 1px solid #ced4da;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-left: 40px;
}
.material-icon{
    display: inline-block;
    padding:5px 15px;
    font-size: 17px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color:orangered;
    border-radius: 8px;
    font-style: normal;
    height: 37px;

}

/* .col-16{
    margin-left: 75px;
}  */
