/*------------- Side bar start---------------------------*/

.simplebar-content-wrapper {
  background-color: #1cabb1 !important;
}

.wrapper {
  overflow-x: hidden;
}
.d-flex {
  display: flex !important;
}

.wrapper {
  width: 100%;
  position: relative;
}
.sidebar-wrapper {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: #1cabb1 !important;
  border-right: 0 solid #e4e4e4;
  z-index: 11;
  box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%),
    0 2px 6px 0 rgb(206 206 238 / 54%) !important;
  transition: all 0.2s ease-out;
}
.sidebar-header {
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 0 15px;
  z-index: 5;
  background: #fff;
  background-clip: padding-box;
  border-bottom: 1px solid #e4e4e4;
}
.logo-icon {
  width: 45px;
}
.logo-text {
  font-size: 22px;
  margin-left: 10px;
  margin-bottom: 0;
  letter-spacing: 1px;
  color: #1cabb1;
}
.toggle-icon {
  font-size: 22px;
  cursor: pointer;
  color: #1cabb1;
}
.topbar {
  position: fixed;
  top: 0;
  /* left: 250px; */
  right: 0;
  height: 60px;
  background: #1cabb1;
  border-bottom: 1px solid rgb(228 228 228 / 0%);
  z-index: 10;
  -webkit-box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%),
    0 0px 6px 0 rgb(206 206 238 / 54%);
  box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%),
    0 0px 6px 0 rgb(206 206 238 / 54%);
}
.user-info .user-name {
  color: #fff;
}
.topbar .navbar {
  width: 100%;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
}
.page-wrapper {
  height: 100% !important;
  margin-top: 60px !important;
  margin-bottom: 30px !important;
  margin-left: 250px !important;
}
.page-content {
  padding: 1.5rem 1.5rem 0.7rem 1.5rem;
}
.page-footer {
  background: #fff;
  left: 250px;
  right: 0;
  bottom: 0;
  position: fixed;
  text-align: center;
  padding: 7px;
  font-size: 14px;
  border-top: 1px solid #e4e4e4;
  z-index: 3;
}
.wrapper .toggled .topbar {
  left: 70px;
}
.wrapper .toggled .page-wrapper {
  margin-left: 70px !important;
}
.wrapper .toggled .page-footer {
  left: 70px;
}
.sidebar-wrapper ul {
  padding: 0;
  margin: 0;
  list-style: none;
  background: 0 0;
}
.simplebar-content-wrapper {
  background-color: #1cabb1 !important;
}
.sidebar-wrapper .metismenu {
  background: 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin-top: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.sidebar-wrapper .metismenu li + li {
  margin-top: 5px;
}
.sidebar-wrapper .metismenu li:first-child {
  margin-top: 5px;
}
.sidebar-wrapper .metismenu li:last-child {
  margin-bottom: 5px;
}
.sidebar-wrapper .metismenu > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}
.sidebar-wrapper .metismenu a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 8px 15px;
  font-size: 15px;
  color: #fff;
  outline-width: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  letter-spacing: 0.5px;
  border: 1px solid #ffffff00;
  transition: all 0.3s ease-out;
}
.sidebar-wrapper .metismenu a .parent-icon {
  font-size: 24px;
  line-height: 1;
}
.sidebar-wrapper .metismenu a .menu-title {
  margin-left: 10px;
  cursor: pointer;
}
.sidebar-wrapper .metismenu ul a {
  padding: 6px 15px 6px 15px;
  font-size: 15px;
  border: 0;
}
.sidebar-wrapper .metismenu ul a i {
  margin-right: 10px;
}
.sidebar-wrapper .metismenu ul {
  border: 1px solid #ededed;
  background: #1cabb1;
}
.sidebar-wrapper .metismenu ul ul a {
  padding: 8px 15px 8px 30px;
}
.sidebar-wrapper .metismenu ul ul ul a {
  padding: 8px 15px 8px 45px;
}
.sidebar-wrapper .metismenu .mm-active > a,
.sidebar-wrapper .metismenu a:active,
.sidebar-wrapper .metismenu a:focus,
.sidebar-wrapper .metismenu a:hover {
  color: #1cabb1;
  text-decoration: none;
  background: #fff;
}
.menu-label {
  padding: 20px 15px 5px 5px;
  color: #b0afaf;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
}
.metismenu .has-arrow:after {
  position: absolute;
  content: "";
  width: 0.5em;
  height: 0.5em;
  border-style: solid;
  border-width: 1.2px 0 0 1.2px;
  border-color: initial;
  right: 15px;
  transform: rotate(-45deg) translateY(-50%);
  transform-origin: top;
  top: 50%;
  transition: all 0.3s ease-out;
}
@media screen and (min-width: 1025px) {
  .wrapper.toggled:not(.sidebar-hovered)
    .sidebar-wrapper
    .sidebar-header
    .logo-text {
    display: none;
  }
  .wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper {
    width: 70px;
  }
  .wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header {
    width: 70px;
  }
  .wrapper.toggled:not(.sidebar-hovered)
    .sidebar-wrapper
    .sidebar-header
    .toggle-icon {
    display: none;
  }
  .wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header {
    justify-content: center;
  }
  .wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header {
    width: 70px;
  }
  .wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .metismenu a {
    justify-content: center;
  }
  .wrapper.toggled:not(.sidebar-hovered)
    .sidebar-wrapper
    .metismenu
    .menu-title {
    display: none;
  }
  .wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .metismenu li ul {
    display: none;
  }
  .wrapper.toggled:not(.sidebar-hovered)
    .sidebar-wrapper
    .metismenu
    li.menu-label {
    display: none;
  }
  .wrapper.toggled:not(.sidebar-hovered)
    .sidebar-wrapper
    .metismenu
    .has-arrow:after {
    display: none;
  }
  .email-toggle-btn {
    display: none !important;
  }
  .chat-toggle-btn {
    display: none !important;
  }
}
@media screen and (max-width: 1024px) {
  .topbar {
    left: 0 !important;
  }
  .mobile-search-icon {
    display: block;
  }
  .mobile-toggle-menu {
    display: block;
  }
  .sidebar-wrapper {
    left: -300px;
    box-shadow: none;
  }
  .page-wrapper {
    margin-left: 0 !important;
  }
  .wrapper.toggled .sidebar-wrapper {
    left: 0;
  }
  .wrapper.toggled .page-wrapper {
    margin-left: 0 !important;
  }
  .wrapper.toggled .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.6;
    z-index: 10;
    display: block;
    cursor: move;
    transition: all 0.2s ease-out;
  }
}

.text-white {
  color: #fff;
}

.dropdown:hover {
  cursor: pointer;
}
/*------------- Side bar end---------------------------*/
