<section class="section">
    <div class="container-fluid">
      <div class="row page-content">
        <div class="col-md-12">
          <div class="d-lg-flex align-items-center mb-4 gap-3">
            <h4 class="mb-0 text-primary">Past Transaction </h4>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="table-responsive">
            <table id="table-info" class="table table-condensed">
              <tbody>
                <tr>
                  <td>
                    <h6>Project Info</h6>
                  </td>
                  <td colspan="2"><strong>Code: </strong>ASM</td>
                  <td><strong>Project Name: </strong>ARUNAMARI SPECIALIST MEDICAL CENTRE</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-sm-6">
            <hr>
            <h5>Revision No: 5.001</h5>
            <hr>
            
            </div>

        <div class="col-md-12 mt-4">
          <div class="card p-3">
            <div class="card-body">
              <div class="table-responsive">
                <table id="example" class="display" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>Department</th>
                      <th>Room</th>
                      <th>Equipment</th>
                      <th>Qty</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>AD - ADMINISTRATION (L4)		</td>
                      <td>AD101 - RECEPTION</td>
                      <td>HOF120/010 - CLOCK WALL BATTERY OPERATED</td>
                      <td>
                        1
                        
                      </td>
                    </tr>
                    <tr>
                      <td>AD - ADMINISTRATION (L4)		</td>
                      <td>AD101 - RECEPTION</td>
                      <td>HOF120/010 - CLOCK WALL BATTERY OPERATED</td>
                      <td>
                        1
                        
                      </td>
                    </tr>
                    <tr>
                      <td>AD - ADMINISTRATION (L4)		</td>
                      <td>AD101 - RECEPTION</td>
                      <td>HOF120/010 - CLOCK WALL BATTERY OPERATED</td>
                      <td>
                        1
                        
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  