<section class="section">
  <div class="container">
    <div class="row page-content">
      <div class="col-md-12">
        <div class="d-lg-flex align-items-center mb-4 gap-3">
          <h4 class="mb-0 text-primary">Currency</h4>
          <div class="ms-auto">

            <a
              routerLink="/add-currency"
              class="btn btn-primary sqare-0 mt-2 mt-lg-0"
            >
              <i class="bx bxs-plus-square"></i>Add Currency</a
            >

            <a routerLink="/add-currency"class="btn btn-primary sqare-0 mt-2 mt-lg-0">
              <i class="bx bxs-plus-square"></i>Add Currency</a>

          </div>
        </div>

        <div class="row page-content">
          <div class="col-md-12">
            <div class="card p-3">
              <div class="card-body">
                <table
                  class="example table dt-responsive nowrap"
                  style="width: 100%"
                >
                  <thead>
                    <tr>
                      <th>S.No</th>
                      <th>Currency Code</th>
                      <th>Currency Name</th>
                      <th>Symbol</th>
                      <th>Actions</th>
                    </tr>
                  </thead>


                  <tbody>
                    <tr *ngFor="let item of currencyData; let i = index">
                      <td>{{ skip + i + 1 }}</td>

                   <tbody>
                    <tr *ngFor="let item of currencyData; let i = index">
                      <!-- <tr *ngFor="let item of currencyData.slice((page - 1) * 10, page * 10); let i = index"> -->
                      <td>{{ skip + i+1 }}</td>

                      <td>{{ item.code }}</td>
                      <td>{{ item.name }}</td>
                      <td>{{ item.symbol }}</td>
                      <td>
                        <div class="d-flex order-actions">

                          <a
                            routerLink="/add-currency/{{ item._id }}"
                            title="Edit"
                            class="text-success me-2"
                            ><i class="fa fa-edit"> </i>
                          </a>
                          <a
                            href="javascript:;"
                            (click)="delete(item._id)"
                            title="Delete"
                            class="text-danger me-2"
                            ><i class="fa fa-trash"> </i>
                          </a>

                          <a routerLink="/add-currency/{{ item._id }}" title="Edit" class="text-success me-2"><i class="fa fa-edit"> </i> </a>
                          <a href="javascript:;" (click)="delete(item._id)" title="Delete" class="text-danger me-2"><i class="fa fa-trash"> </i> </a>

                        </div>
                      </td>
                    </tr>
                  </tbody>


                  <tfoot>
                    <tr>
                      <td colspan="5">
                        <ngb-pagination
                          [collectionSize]="count"
                          [(page)]="page"
                          (pageChange)="find()"
                          aria-label="Default pagination"
                        ></ngb-pagination>
                        <pre>Current page: {{ page }}</pre>
                      </td>
                    </tr>
                  </tfoot>

                  
                  <tfoot>
                    <tr>
                      <td colspan="5">
                        <ngb-pagination [collectionSize]="count" [(page)]="page" (pageChange)="find()" aria-label="Default pagination"></ngb-pagination>
                      <pre>Current page: {{page}}</pre>
                      </td>
                    </tr>
                  </tfoot>



                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
