@import '~datatables.net-bs5/css/dataTables.bootstrap5.min.css'; 
@import '~datatables.net-bs5/css/dataTables.bootstrap5.css'; 
@import '~datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css';
@import '~datatables.net-responsive-bs5/css/responsive.bootstrap5.css'; 



.material-icons{
    display: inline-block;
    padding: 2px  13px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color:skyblue;
    border-radius: 50px;
    box-shadow: 0 5px #999;
    margin-right: 10px;

}
.material-icon{
    display: inline-block;
    padding: 2px 5px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color:orangered;
    border-radius: 50px;
    box-shadow: 0 5px #999;
    /* margin-left: 5px; */
}
