<!-- <div *ngIf="!editMode" (click)="enableEdit();" class="cell">{{ data }}</div>
<div *ngIf="editMode">
  <input (focusout)="onFocusOut();editMode=false;" [(ngModel)]="data" class="cellInput"
  appAutofocus type="text">
  <a class="btn btn-sm btn-primary" (click)="saveData()">Save</a>
</div> -->

<!-- <input *ngIf="editMode" (focusout)="onFocusOut()" [(ngModel)]="data" class="cellInput" id="codeInput"
  appAutofocus type="text" (focusout)="editMode=false" focus> -->


<!--   
<div *ngIf="!editModes" (click)="enableEdit()" class="cell">{{ data }}</div>


<div (focusout)="onFocusOut();this.editModes=false;">
<mat-form-field class="example-form-field" *ngIf="editModes" >
  <input matInput type="text" [(ngModel)]="updatedData" appAutofocus
    type="text" #inputBox id="codeInput" />
  <button *ngIf="data !== updatedData" matSuffix mat-icon-button aria-label="Clear" (click)="saveData($event)">
    <i class="fal fa-save"> </i>
  </button>
</mat-form-field>
</div> -->


<!-- <input *ngIf="editMode" (focusout)="onFocusOut()" [(ngModel)]="data" class="cellInput"
    appAutofocus type="number" (keydown.enter)="$event.target.blur()" (focusout)="editMode=false"> -->

<!-- <ng-template viewMode>{{data}}</ng-template>
    <ng-template editMode>
      <input matInput type="text" [(ngModel)]="updatedData" focusable editableOnEnter>
    </ng-template> -->

<div *ngIf="mode === 'view'" class="cell">{{data}}</div>
<ng-container *ngIf="mode === 'edit'">
  <ng-container *ngIf="inputType === 'text'">
    <mat-form-field subscriptSizing="dynamic" [style.width.px]="inputsize">
      <input matInput type="text" focusable editableOnEnter [(ngModel)]="updatedData" appAutofocus #inputBox
        id="codeInput" />
      <button matSuffix mat-icon-button aria-label="Clear" (click)="saveData()">
        <i class="fal fa-save"> </i>
      </button>
    </mat-form-field>
  </ng-container>
  <ng-container *ngIf="inputType === 'group'">
    <div class="input-group">
      <select name="equ_listing" id="equ_listing1" style="width: 100px;" class="form-select" [(ngModel)]="updatedData">
        <option value="">Select Group Name</option>
        <option *ngFor="let master of masterList" [ngValue]="master.name">
          {{ master.name }}
        </option>
      </select>
      <span class="input-group-btn">
        <button matSuffix mat-icon-button aria-label="Clear" (click)="saveData()">
          <i class="fal fa-save"> </i>
        </button>
      </span>
    </div>
  </ng-container>
</ng-container>