<section class="section">
   <div class="container-fluid">
      <div class="row page-content">
         <div class="col-md-12">
            <div class="d-lg-flex align-items-center mb-4 gap-3">
               <h4 class="mb-0 text-primary">Equipment - Specification </h4>
            </div>
         </div>
         <div class="col-sm-12">
            <form class="form-horizontal" [formGroup]="specForm">
               <div>
                  <div class="table-responsive">
                     <table cellspacing="0">
                        <tbody>
                           <tr style="border: 1px solid #a2a2a2;">
                              <td colspan="2">
                                 <div
                                    style="text-align: center; float: left; line-height: 64px; padding-left: 10px;; font-size: 16px; font-weight: bold;">
                                    EQUIPMENT SPECIFICATION</div>
                                 <div
                                    style="width: 150px; float: right;  padding-right: 25px; top: 0px;font-weight: bold;">
                                    Rev no:<input type="text" formControlName="rev_no" class="form-control"></div>
                              </td>
                           </tr>
                           <tr>
                              <td colspan="2"
                                 style="border: 1px solid #a2a2a2; padding: 35px 0px 10px 5px; font-size: 16px; font-weight: bold">
                                 <div style="margin-top: 5px; margin-bottom: 15px">Item Code: AA0003</div>
                                 <div style="margin-top: 5px; margin-bottom: 15px">Item Description: AIRWAY GUEDEL
                                    VARIOUS SIZES</div>
                                 <table style="width: 100%; font-weight: 400;font-size: 14px" cellspacing="0;">
                                    <tbody>
                                       <tr>
                                          <td
                                             style="padding-bottom: 10px; border: 1px solid #a2a2a2; padding-left: 10px; ">
                                             Proposed Brand:</td>
                                          <ng-container formArrayName="brands"
                                             *ngFor="let brand of brandArray.controls; let i=index;">
                                             <ng-container [formGroupName]="i">
                                                <td style="border: 1px solid #a2a2a2;">
                                                   <input type="text" formControlName="brand" class="form-control">
                                                </td>
                                             </ng-container>
                                          </ng-container>
                                       </tr>
                                       <tr>
                                          <td
                                             style="padding-bottom: 10px; border: 1px solid #a2a2a2; padding-left: 10px;">
                                             model:</td>
                                          <ng-container formArrayName="models"
                                             *ngFor="let model of modelArray.controls; let i=index;">
                                             <ng-container [formGroupName]="i">
                                                <td style="border: 1px solid #a2a2a2;">
                                                   <input type="text" formControlName="model" class="form-control">
                                                </td>
                                             </ng-container>
                                          </ng-container>
                                       </tr>
                                       <tr>
                                          <td
                                             style="padding-bottom: 10px;border: 1px solid #a2a2a2; padding-left: 10px; ">
                                             Country of Origin:</td>
                                          <ng-container formArrayName="country_origins"
                                             *ngFor="let country_origin of countryOriginArray.controls; let i=index;">
                                             <ng-container [formGroupName]="i">
                                                <td style="border: 1px solid #a2a2a2;">
                                                   <input type="text" formControlName="country_origin"
                                                      class="form-control">
                                                </td>
                                             </ng-container>
                                          </ng-container>
                                       </tr>
                                    </tbody>
                                 </table>
                              </td>
                           </tr>
                           <tr>
                              <td colspan="2"
                                 style="border: 1px solid #a2a2a2; padding: 5px 0px 50px 5px; font-size: 14px">
                                 a. General Description:
                                 <textarea formControlName="description" class="form-control"></textarea>
                              </td>
                           </tr>
                           <tr>
                              <td colspan="2"
                                 style="border: 1px solid #a2a2a2; padding: 5px 0px 30px 5px; font-size: 14px">
                                 b. Component:
                                 <textarea formControlName="component" class="form-control"></textarea>
                              </td>
                           </tr>
                           <tr>
                              <td colspan="2"
                                 style="border: 1px solid #a2a2a2; padding: 5px 0px 30px 5px; font-size: 14px">
                                 c. Technical Specification:
                                 <textarea formControlName="tech_spec" class="form-control">
                                 </textarea>
                              </td>
                           </tr>
                           <tr>
                              <td style="border: 1px solid #a2a2a2; padding: 5px 0px 60px 5px; font-size: 14px">
                                 d. Dimension / Weight:
                                 <textarea formControlName="dim_weight" class="form-control"></textarea>
                              </td>
                              <td style="border: 1px solid #a2a2a2; padding: 5px 0px 60px 5px; font-size: 14px">
                                 e. Standard Complied:
                                 <textarea formControlName="standard" class="form-control"></textarea>
                              </td>
                           </tr>
                           <tr>
                              <td style="border: 1px solid #a2a2a2; padding: 5px 0px 60px 5px; font-size: 14px">
                                 f. Accessories:
                                 <textarea formControlName="accessories" class="form-control"></textarea>
                              </td>
                              <td style="border: 1px solid #a2a2a2; padding: 5px 0px 60px 5px; font-size: 14px">
                                 g. Startup Consumables:
                                 <textarea formControlName="startup_consume" class="form-control"></textarea>
                              </td>
                           </tr>
                           <tr>
                              <td style="border: 1px solid #a2a2a2; padding: 5px 0px 60px 5px; font-size: 14px">
                                 h. Software License:
                                 <textarea formControlName="software_license" class="form-control"></textarea>
                              </td>
                              <td style="border: 1px solid #a2a2a2; padding: 5px 0px 60px 5px; font-size: 14px">
                                 i. Others if any:
                                 <textarea formControlName="others" class="form-control"></textarea>
                              </td>
                           </tr>
                           <tr>
                              <td colspan="2"
                                 style="border: 1px solid #a2a2a2; padding: 5px 0px 10px 5px; font-size: 14px">
                                 i. Services Requirement: Specify no. of outlet.
                                 <table cellspacing="0" style="margin-top: 10px">
                                    <tbody>
                                       <tr>
                                          <td style="width: 75px; border: 1px solid #a2a2a2;"><input type="text"
                                                formControlName="no_outlet_1" class="form-control"
                                                fdprocessedid="yxg1ug"></td>
                                          <td style="width: 75px; padding-left: 5px; padding-right: 5px;">240V/50Hz</td>
                                          <td style="width: 75px; border: 1px solid #a2a2a2;"><input type="text"
                                                formControlName="no_outlet_2" class="form-control"
                                                fdprocessedid="qx9cc6"></td>
                                          <td style="width: 75px;padding-left: 5px; padding-right: 5px;">415V/50Hz</td>
                                          <td style="width: 75px; border: 1px solid #a2a2a2;"><input type="text"
                                                formControlName="hot_water" class="form-control" fdprocessedid="vfyx6">
                                          </td>
                                          <td style="width: 75px;padding-left: 5px; padding-right: 5px;">Hot Water</td>
                                          <td style="width: 75px; border: 1px solid #a2a2a2;"><input type="text"
                                                formControlName="exhaust" class="form-control" fdprocessedid="lkuhju">
                                          </td>
                                          <td style="width: 75px;padding-left: 5px; padding-right: 5px;">Exhaust</td>
                                          <td style="width: 75px; border: 1px solid #a2a2a2;"><input type="text"
                                                formControlName="medgas" class="form-control" fdprocessedid="1qacj">
                                          </td>
                                          <td style="width: 75px;padding-left: 5px; padding-right: 5px;">Med Gas</td>
                                       </tr>
                                       <tr>
                                          <td colspan="10" style="padding-top: 15px"></td>
                                       </tr>
                                       <tr>
                                          <td style="width: 75px; border: 1px solid #a2a2a2;"><input type="text"
                                                formControlName="lpg" class="form-control" fdprocessedid="0mpbz"></td>
                                          <td style="width: 75px; padding-left: 5px; padding-right: 5px;">LPG</td>
                                          <td style="width: 75px; border: 1px solid #a2a2a2;"><input type="text"
                                                formControlName="steam" class="form-control" fdprocessedid="j362s"></td>
                                          <td style="width: 75px; padding-left: 5px; padding-right: 5px;">Steam</td>
                                          <td style="width: 75px; border: 1px solid #a2a2a2;"><input type="text"
                                                formControlName="cold_water" class="form-control"
                                                fdprocessedid="ulzgtf"></td>
                                          <td style="width: 75px; padding-left: 5px; padding-right: 5px;">Cold Water
                                          </td>
                                          <td style="width: 75px; border: 1px solid #a2a2a2;"><input type="text"
                                                formControlName="air_cond" class="form-control" fdprocessedid="4s2rvk">
                                          </td>
                                          <td style="width: 75px; padding-left: 5px; padding-right: 5px;">Air Cond</td>
                                          <td style="width: 75px; border: 1px solid #a2a2a2;"><input type="text"
                                                formControlName="drainage" class="form-control" fdprocessedid="bo3338">
                                          </td>
                                          <td style="width: 75px; padding-left: 5px; padding-right: 5px;">Drainage</td>
                                       </tr>
                                       <tr>
                                          <td colspan="10" style="padding-top: 15px"></td>
                                       </tr>
                                       <tr>
                                          <td style="width: 75px; border: 1px solid #a2a2a2;"><input type="text"
                                                formControlName="it" class="form-control" fdprocessedid="aff5ew"></td>
                                          <td style="padding-left: 5px; padding-right: 5px;">IT</td>
                                       </tr>
                                       <tr style="padding-top: 10px">
                                          <td colspan="5">Room Req.:<input type="text" formControlName="room_req"
                                                class="form-control" fdprocessedid="3sjhbt"></td>
                                          <td colspan="5">Delivery Path Req.:<input type="text"
                                                formControlName="delivery_req" class="form-control"
                                                fdprocessedid="ic6awm"></td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </td>
                           </tr>
                           <tr>
                              <td colspan="2"
                                 style="border: 1px solid #a2a2a2; padding: 5px 0px 10px 5px; font-size: 14px">
                                 k. Attachment:
                                 <table cellspacing="0" style="margin-top: 10px">
                                    <tbody>
                                       <tr>
                                          <td style="width: 75px; border: 1px solid #a2a2a2;">
                                             <input type="text"
                                                formControlName="catalogues" class="form-control"
                                                fdprocessedid="s72s5a"></td>
                                          <td style="width: 150px; padding-left: 5px; padding-right: 5px;">Catalogues
                                          </td>
                                          <td style="width: 75px; border: 1px solid #a2a2a2;">
                                             <input type="text" formControlName="shop_drawing" class="form-control"
                                                fdprocessedid="b0hive">
                                          </td>
                                          <td style="width: 150px;padding-left: 5px; padding-right: 5px;">Shop Drawing
                                          </td>
                                          <td style="width: 75px; border: 1px solid #a2a2a2;"><input type="text"
                                                formControlName="installed_list" class="form-control"
                                                fdprocessedid="j0shma"></td>
                                          <td style="width: 150px;padding-left: 5px; padding-right: 5px;">List of
                                             Installed Based</td>
                                       </tr>
                                       <tr>
                                          <td colspan="10" style="padding-top: 15px"></td>
                                       </tr>
                                       <tr>
                                          <td style="width: 75px; border: 1px solid #a2a2a2;"><input type="text"
                                                formControlName="company_profile" class="form-control"
                                                fdprocessedid="omygno"></td>
                                          <td style="padding-left: 5px; padding-right: 5px;">Company Profile</td>
                                          <td style="width: 75px; border: 1px solid #a2a2a2;"><input type="text"
                                                formControlName="tentative_ppm" class="form-control"
                                                fdprocessedid="na6toh"></td>
                                          <td style="padding-left: 5px; padding-right: 5px;">Tentative PPM Schedule</td>
                                          <td style="width: 75px; border: 1px solid #a2a2a2;"><input type="text"
                                                formControlName="authorization_letter" class="form-control"
                                                fdprocessedid="81ulvq"></td>
                                          <td style="padding-left: 5px; padding-right: 5px;">Product Authorization
                                             Letter</td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </td>
                           </tr>
                           <tr>
                              <td colspan="2"
                                 style="border: 1px solid #a2a2a2; padding: 5px 0px 80px 5px; font-size: 14px">
                                 l. Remarks:
                                 <textarea formControlName="remarks" class="form-control"></textarea>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
                  <div class="col-md-12 text-center mt-3">
                     <a class="btn btn-primary px-4 me-3" (click)="save()">Save</a>
                     <a class="btn btn-secondary px-4" (click)="cancel()">Cancel</a>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</section>