 <!-- <h2 matDialogTitle>Alert!</h2>
<mat-dialog-content>
    <p>Please select room from the table</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button matDialogClose="cancel" color="primary">Cancel</button>
    <button mat-button [mat-dialog-close]="'ok'"  color="warn">Ok</button>
</mat-dialog-actions>  -->
<div class="p-5">
<h1 mat-dialog-title>Alert!</h1>
<div mat-dialog-content>
  <p>Please select room from the table</p>
  <!-- <mat-form-field>
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field> -->
</div>
<div mat-dialog-actions align="end">
  <!-- <button mat-button (click)="onNoClick()">No Thanks</button> -->

  <button mat-button [mat-dialog-close]="'test'" cdkFocusInitial>Ok</button>
</div>
</div>