<div class="modal-body">
  <app-loader *ngIf="loader"></app-loader>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label>Department:</label>
        <span id="master_dep">{{department?.code | uppercase}} - {{department?.name | uppercase}}</span>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <label>Room:</label>
        </div>
        <div class="col-auto">
          <div class="col-auto">
            <select [(ngModel)]="globalRoomId" class="form-control" name="global_core"
              (change)="onRoomChange($event, roomId)">
              <option value="">-Select Room-</option>
              <option *ngFor="let room of globalProjectRoom" [value]="room.departments?.rooms?._id">
                {{room.departments?.name}} - {{ room.departments?.rooms?.name | uppercase }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs mt-3">
    <li [ngbNavItem]="1">
      <button ngbNavLink>Add Equipment from Master</button>
      <ng-template ngbNavContent>
        <div class="row">
          <div class="col-md-6 border px-2 py-2">
            <div class="row g-3 align-items-center">
              <div class="col-md-6">
                <h5>Master Equipment List:</h5>
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText"
                  (input)="searchEquipment()">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <div class="tableFixHead table-responsive">
                  <table id="masterEquipmentTable1" class="display table">
                    <thead>
                      <tr role="row">
                        <th></th>
                        <th>Equipment</th>
                        <th>Code</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of masterEquipmentList">
                        <td>
                          <input class="checkbox" type="checkbox" name="" value=""
                            [checked]="projectEquipment.includes(item)" (click)="selectEquipment(item)">
                        <td>{{ item.name | uppercase}}</td>
                        <td>{{ item.code | uppercase}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group border px-2 py-2">
              <div class="row mt-2">
                <div class="col">
                  <h5 class="mb-3">Equipments in Room:</h5>
                  <div class="tableFixHead table-responsive">
                    <table id="projectEquipmentTable1" class="table">
                      <thead>
                        <tr role="row">
                          <th>#</th>
                          <th>Equipment</th>
                          <th>Code</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of projectEquipments; let i = index">
                          <td>{{ i+1 }}</td>
                          <td>{{ item.name | uppercase}}</td>
                          <td>{{ item.code | uppercase}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </li>

    <li [ngbNavItem]="2">
      <button ngbNavLink>Add Equipment from Existing Project</button>
      <ng-template ngbNavContent>
        <div class="row">
          <div class="col-12">
            <hr>
            <h5>Select from Existing Project</h5>
            <!-- Project, Department, Rooms dependent dropdown -->
            <form class="form-horizontal row" method="post">
              <div class="col-md-6">
                <label class="form-label">Project</label>
                <select class="form-control" [(ngModel)]="otherProjectId" name="projectId[]" multiple
                  (change)="onProjectChange($event)">
                  <option value="">-Select Project-</option>
                  <option *ngFor="let item of projectData" [value]="item._id">{{ item.code | uppercase}} - {{ item.name
                    | uppercase}}</option>
                </select>
              </div>
              <div class="col-md-6">
                <!-- <div class="col-md-12">
                  <label class="form-label">Department</label>
                  <select class="form-control" [(ngModel)]="otherDepartmentId" name="com_code"
                    (change)="onDepartmentChange($event)">
                    <option value="">-Select Department-</option>
                    <option *ngFor="let department of projectDepartments" [value]="department._id">{{
                      department.name | uppercase }}</option>
                  </select>
                </div> -->
                <div class="col-md-12">
                  <label class="form-label">Room</label>
                  <select class="form-control" [(ngModel)]="otherRoomId" name="com_code">
                    <option value="">-Select Room-</option>
                    <option *ngFor="let room of projectRooms" [value]="room.departments?.rooms?._id">
                      {{room.name}} - {{room.departments?.rooms?.name | uppercase }}</option>
                  </select>
                </div>
                <div class="col-md-12 mt-3">
                  <input name="search" type="text" class="form-control" placeholder="Search" [(ngModel)]="searchInput">
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="col-md-12 text-center mt-3">
              <button type="submit" class="btn btn-primary px-4 me-3 m" id="add_department"
                (click)="searchOtherProjectEqp()" [disabled]="otherProjectId.length === 0">Search</button>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6 border px-2 py-2">
            <div class="row g-3 align-items-center">
              <div class="col-md-6">
                <h5>Other Equipments:</h5>
              </div>
              <!-- <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText"
                  (input)="searchEquipment()">
              </div> -->
            </div>
            <div class="row mt-2">
              <div class="col">
                <div class="tableFixHead table-responsive">
                  <table id="masterEquipmentTable2" class="display table">
                    <thead>
                      <tr role="row">
                        <th></th>
                        <th>Room</th>
                        <th>Equipment</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of otherEquipmentData">
                        <td>
                          <input class="checkbox" type="checkbox" name="" value=""
                            [checked]="projectEquipment.includes(item)" (click)="selectEquipment(item)">
                        </td>
                        <td><strong>{{ item.room_code | uppercase}} </strong><br> {{ item.room_name | uppercase}}</td>
                        <td><strong>{{ item.code | uppercase}}</strong> <br> {{ item.name | uppercase}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group border px-2 py-2">
              <div class="row mt-2">
                <div class="col">
                  <h5 class="mb-3">Equipments in Room:</h5>
                  <div class="tableFixHead table-responsive">
                    <table id="projectEquipmentTable2" class="table">
                      <thead>
                        <tr role="row">
                          <th>#</th>
                          <th>Equipment</th>
                          <th>Code</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of projectEquipments; let i = index">
                          <td>{{ i+1 }}</td>
                          <td>{{ item.name | uppercase}}</td>
                          <td>{{ item.code | uppercase}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>

  <div class="col-sm-12">
    <div class="col-md-12 text-center mt-3">
      <button type="submit" class="btn btn-primary px-4 me-3 m" id="add_department"
        (click)="saveEquipmentData()">Add</button>
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>
  </div>
</div>
