h6{
    color: #ffa000;
}

.dataTable tr, td {
    font-size: 13px;
}

.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}

.fa-sm{
    font-size: 1rem;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    vertical-align: initial;
}


.btn-xs, .btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}