<section class="section">
  <div class="container-fluid">
    <div class="row page-content">
      <div class="col-md-12">
        <div class="d-lg-flex align-items-center mb-4 gap-3">
          <h4 class="mb-0 text-primary">Equipment Summary </h4>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="table-responsive">
          <table id="table-info" class="table table-condensed">
            <tbody>
              <tr>
                <td>
                  <h6>Project Info</h6>
                </td>
                <td colspan="2"><strong>Code: </strong>ASM</td>
                <td><strong>Project Name: </strong>ARUNAMARI SPECIALIST MEDICAL CENTRE</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div>
        <div>
          <div class="float-start d-lg-flex">
            <a class="btn btn-sm btn-success me-2" routerLink="/pages/projects/{{projectType}}/list" title="Back"><i
                class="fa-solid fa-chevron-left fa-sm"></i></a>
            <a class="btn btn-sm  btn-danger me-2" routerLink="/pages/projects/{{projectType}}/list" title="Cancel"><i
                class="fa-solid fa-cancel fa-sm"></i></a>
            <a class="btn btn-sm btn-primary me-2" title="Submit"><i class="fa-solid fa-send fa-sm"></i></a>
            <!-- <a class="btn btn-info" data-toggle="modal" data-target="#reportModal" title="Reports"><i
                class="fa-solid fa-bar-chart fa-sm"></i> </a>
            <a class="btn btn-info" data-toggle="modal" data-target="#reportModal1" title="Reports-by-Pack"><i
                class="fa-solid fa-file fa-sm"></i> </a> -->
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-4">
        <div class="card p-3">
          <div class="card-body">
            <app-loader *ngIf="loader"></app-loader>
            <div class="table-responsive">
              <table id="example" class="display table" cellspacing="0" width="100%">
                <thead>
                  <tr role="row">
                    <th>No</th>
                    <th>Code</th>
                    <th>Equipment</th>
                    <th>Package</th>
                    <th>FPQ</th>
                    <th>APQ</th>
                    <th>Qty</th>
                    <th>Unit Price</th>
                    <th>Mark-up</th>
                    <th>Total Price</th>
                    <th>Group</th>
                    <th>Utility</th>
                    <th>Remarks</th>
                    <th>Label</th>
                  </tr>
                </thead>
                <tbody>
                  <tr role="row" class="odd" *ngFor="let eqp of equipmentData; let i=index;">
                    <td>{{ skip + i+1 }}</td>
                    <td>{{eqp.code}}</td>
                    <td> {{eqp.name}}</td>
                    <td>100</td>
                    <td class="bg-yellow editablex">
                      <app-edit-input-equipment [data]="eqp.apq || 0" [equipmentId]="eqp.id" [field]="'apq'"
                        [inputsize]="100"></app-edit-input-equipment>
                    </td>
                    <td class="bg-yellow editablex">
                      <app-edit-input-equipment [data]="eqp.fpq || 0" [equipmentId]="eqp.id" [field]="'fpq'"
                        [inputsize]="100"></app-edit-input-equipment>
                    </td>
                    <td class="bg-yellow editablex">
                      <app-edit-input-equipment [data]="eqp.qty || 0" [equipmentId]="eqp.id" [field]="'qty'"
                        [inputsize]="100"></app-edit-input-equipment>
                    </td>
                    <td class="bg-yellow editablex">
                      <app-edit-input-equipment [data]="eqp.cost || 0" [equipmentId]="eqp.id" [field]="'cost'"
                        [inputsize]="100"></app-edit-input-equipment>
                    </td>
                    <td>{{ eqp.markupPer }}</td>
                    <td>{{eqp.qty * eqp.cost}}</td>
                    <td class="bg-yellow">
                      <app-edit-input-equipment [data]="eqp.group || '-'" [equipmentId]="eqp.id" [field]="'group'"
                        [inputType]="'group'" [inputsize]="100"></app-edit-input-equipment>
                    </td>
                    <td class="bg-yellow"><app-edit-input-equipment [data]="eqp.utility || '-'" [equipmentId]="eqp.id"
                        [field]="'utility'" [inputsize]="100"></app-edit-input-equipment>
                    </td>
                    <td class="bg-yellow"><app-edit-input-equipment [data]="eqp.remarks || '-'" [equipmentId]="eqp.id"
                        [field]="'remarks'" [inputsize]="100"></app-edit-input-equipment>
                    </td>
                    <td class="bg-yellow"><app-edit-input-equipment [data]="eqp.labels || '-'" [equipmentId]="eqp.id"
                        [field]="'group'" [inputsize]="100"></app-edit-input-equipment>
                    </td>
                  </tr>
                </tbody>

                <tfoot>
                  <tr>
                    <td colspan="14" class="text-end">

                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div class="pagination-wrap">
              <p>Current page: {{ page }}</p>
              <ngb-pagination class="d-inline-block" [collectionSize]="count" [(page)]="page"
                (pageChange)="loadEquipments()" aria-label="Default pagination" [maxSize]="maxSize"></ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>