
<section class="section">
   <div class="container">
      <div class="row page-content">
         <div class="col-md-12">
            <div class="d-lg-flex align-items-center mb-4 gap-3">
               <h4 class="mb-0 text-primary">Equipment Summary </h4>
            </div>
         </div>
         <div class="col-sm-12">
            <table id="table-info" class="table table-condensed">
               <tbody>
                  <tr>
                     <td>
                        <h6>Project Info</h6>
                     </td>
                     <td colspan="2"><strong>Code: </strong>ASM</td>
                     <td><strong>Project Name: </strong>ARUNAMARI SPECIALIST MEDICAL CENTRE</td>
                  </tr>
               </tbody>
            </table>
         </div>
         <div>
            <div>
               <div class="float-start d-lg-flex gap-3">
                  <a class="btn btn-success" routerLink="/Project" title="Back"><i class="fa-solid fa-chevron-left fa-sm"></i> </a>
                 <a class="btn  btn-danger" routerLink="" title="Cancel"><i class="fa-solid fa-cancel fa-sm"></i> </a>

                 <a class="btn btn-primary" routerLink="" title="Submit"><i class="fa-solid fa-send fa-sm"></i> </a>

                 <a class="btn btn-info" data-toggle="modal" data-target="#reportModal" title="Reports"><i class="fa-solid fa-bar-chart fa-sm"></i> </a>
                 <a class="btn btn-info" data-toggle="modal" data-target="#reportModal1" title="Reports-by-Pack"><i class="fa-solid fa-file fa-sm"></i> </a>


                  
                 
               </div>
            </div>
         </div>
         <div class="col-md-12 mt-4">
            <div class="card p-3">
               <div class="card-body">
                  <table id="example" class="display" cellspacing="0" width="100%">
                     <thead>
                      
                        <tr role="row">
                           <th >No</th>
                           <th >Code</th>
                           <th >Equipment</th>
                           <th >Package</th>
                           <th >FPQ</th>
                           <th >APQ</th>
                           <th >Qty</th>
                           <th >Unit Price</th>
                           <th >Mark-up</th>
                           <th>Total Price</th>
                           <th>Group</th>
                           <th >Utility</th>
                           <th>Remarks</th>
                           <th>Label</th>
                        </tr>
                     </thead>

                     <tbody>

                     <tr>
                        <td>1</td>
                        <td >HAM141/001</td>
                        <td>TROLLEY PT TRAUMA/RESUS RADIOLUCENT W CASSET.TRAY</td>
                      <td></td>
                        <td>0</td><!-- Changes on 18_11_2020 -->
                        <td>2</td><!-- Changes on 18_11_2020 -->
                        <td >2</td>
                        <td>13800.00</td>
                        <td>0.00%</td>
						<td >27,600.00</td>
						<td ></td>
						<td ></td>
						<td ></td>
                        <td>G3 (Loose Medical Equipment)</td>
                    </tr>

                    <tr>
                        <td>1</td>
                        <td >HAM141/001</td>
                        <td>TROLLEY PT TRAUMA/RESUS RADIOLUCENT W CASSET.TRAY</td>
                      <td></td>
                        <td>0</td><!-- Changes on 18_11_2020 -->
                        <td>2</td><!-- Changes on 18_11_2020 -->
                        <td >2</td>
                        <td>13800.00</td>
                        <td>0.00%</td>
						<td >27,600.00</td>
						<td ></td>
						<td ></td>
						<td ></td>
                        <td>G3 (Loose Medical Equipment)</td>
                    </tr>


                    <tr>
                        <td>1</td>
                        <td >HAM141/001</td>
                        <td>TROLLEY PT TRAUMA/RESUS RADIOLUCENT W CASSET.TRAY</td>
                      <td></td>
                        <td>0</td><!-- Changes on 18_11_2020 -->
                        <td>2</td><!-- Changes on 18_11_2020 -->
                        <td >2</td>
                        <td>13800.00</td>
                        <td>0.00%</td>
						<td >27,600.00</td>
						<td ></td>
						<td ></td>
						<td ></td>
                        <td>G3 (Loose Medical Equipment)</td>
                    </tr>
                </tbody>


                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>