<section class="section">

  <div class="container">
    <div class="row page-content">
      <div class="col-md-12">
        <div class="d-lg-flex align-items-center mb-4 gap-3">
          <h4 class="mb-0 text-primary">Add Department </h4>
          <div class="ms-auto"><a routerLink="/pages/department" class="btn btn-primary sqare-0 mt-2 mt-lg-0"><i
                class="bx bx-table"></i>Manage Department</a></div>
        </div>
        <div class="card border-top border-0 border-4 border-primary">
          <app-loader *ngIf="loader"></app-loader>
          <div class="card-body p-5">
            <div class="col">
              <div class="offset-lg-3 col-lg-6">
                <div class="mb-3" *ngIf="isEdit">
                  <input name="_id" type="hidden" class="form-control">
                </div>
              </div>
            </div>
            <form [formGroup]="addDepartment" (ngSubmit)="SaveData()" autocomplete="off">
              <div class="col-md-6  mt-0">
                <label for="inputFirstName" class="form-label">Department Code</label>
                <input type="text" class=" form-control" id="inputFirstName" placeholder="Enter Department code"
                  formControlName="code" autocomplete="off"
                  [ngClass]="{'is-invalid':submitted && addDepartment.controls['code'].errors}" />
                <div class="text-danger"
                  *ngIf="submitted && addDepartment.controls['code'].errors && addDepartment.controls['code'].errors?.['required']">
                  Department code is required</div>
              </div>
              <div class="col-md-6 mt-3">
                <label for="inputLastName" class="form-label">Department Name</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="Enter Department name"
                  formControlName="name" autocomplete="off" [ngClass]="{'is-invalid':submitted && addDepartment.controls['name'].
                                      errors}" />
                <div class="text-danger"
                  *ngIf="submitted && addDepartment.controls['name'].errors && addDepartment.controls['name'].errors?.['required']">
                  Department name is required</div>
              </div>


              <div class="col-6 mt-3">
                <label for="inputState" class="form-label">Active</label>
                <select class="custom-select form-select form-control" (change)="change($event)" formControlName="active" [ngClass]="{'is-invalid':submitted && addDepartment.controls['active'].
                errors}">
                  <option [ngValue]="true">Active</option>
                  <option [ngValue]="false">Inactive</option>
                </select>
                <div class="text-danger" *ngIf="submitted && addDepartment.controls['active'].errors && addDepartment.controls['active'].errors?.['required']">Status is required</div>
              </div>

              <div class="col-md-6 text-center mt-3">
                <button type="submit" class="btn btn-primary px-4 me-3">{{ isEdit ? 'Update' : 'Save'}}</button>
                <a routerLink="/pages/department"><i class="material-icon">Cancel</i></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
