
<div class="container">
  <div class="row page-content">
     <div class="col-md-12">
        <div class="d-lg-flex align-items-center mb-4 gap-3">
           <h4 class="mb-0 text-primary">Projects </h4>
           <div class="ms-auto"><a routerLink="/add-project" class="btn btn-primary radius-30 mt-2 mt-lg-0"><i class="bx bxs-plus-square"></i>Add Project</a></div>
        </div>
     </div>








     <div class="col-md-12">
        <div class="card p-3">
           <div class="card-body">
              <div>
                 <table id="example" class="display" cellspacing="0" width="100%">
                    <thead>
                       <tr>
                          <th>Code</th>
                          <th>Project Name</th>
                          <th>Project Type</th>
                          <th>Company</th>
                          <th>Action</th>
                       </tr>
                    </thead>
                    <tfoot>
                       <tr>
                          <th>Code</th>
                          <th>Project Name</th>
                          <th>Project Type</th>
                          <th>Company</th>
                          <th>Action</th>
                       </tr>
                    </tfoot>
                    <tbody onload="passVariable()">
                     <tr role="row" class="even" *ngFor= "let item of departmentData; let i=index;">
                         <td>{{item.code}}</td>
                         <td>{{item.projectname}}</td>
                         <td>{{item.projecttype}}</td>
                         <td>{{item.company}}</td>

                         <td class="projects-button">
                               <a routerLink="/equipment-allocation" title="Equipment Allocation" class="btn btn-sm btn-info">Equipment Allocation</a>
                               <a routerLink="/equipment-summary" title="Summary" class="btn btn-sm btn-warning">Summary</a>
                               <a routerLink="/department-transaction" title="Current Transaction" class="btn btn-sm btn-primary">Current Transaction</a>
                               <a routerLink="/past-transaction" title="Past Transaction" class="btn btn-sm btn-warning">Past Transaction</a>



                               <a routerLink="/edit-project/{{ item._id }}" title="Edit" class="btn btn-sm btn-success"><i class="fa fa-edit"></i>Edit</a>
                               <!-- <a routerLink="" title="Edit" class="btn btn-sm btn-success"><i class="fa fa-edit"> </i> Edit</a> -->
                               <!-- <a href="javascript:;"class="text-danger me-2"data-bs-toggle="tooltip"title="Delete"(click)="delete(item._id)"><i class="bx bxs-trash"></i></a> -->
                               <!-- <a (click)="openDialog()" title="Delete"  class="btn btn-sm btn-danger btn_delete"> <i class="fa fa-trash"> </i> Delete</a> -->
                               <a href="javascript:;" class="btn btn-sm btn-danger btn_delete" data-bs-toggle="tooltip" title="Delete" (click)="delete(item._id)"><i class='fa fa-trash'></i></a>
                               <a title="Reports" data-code="ASM" id="btn_report" class="btn btn-sm btn-info btn_report" data-target="#reportModal"><i class="fa fa-print"> </i> Print</a>
                               <a routerLink="" title="Test Commissioning" class="btn btn-sm btn-info">T&amp;C</a>
                         </td>
                     </tr>
                 </tbody>
                 </table>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>



<!-- modal -->

<div class="container demo">

  <!-- Modal -->
  <div
    class="modal right fade"
    id="myModal2"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel2"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel2">Sidebar</h4>
        </div>

        <div class="modal-body">
           <ul><li><a routerLink="/equipment-allocation" title="Equipment Allocation" class=" mb-4">Equipment Allocation</a></li>
              <li><a routerLink="/equipment-summary" title="Summary" class=" mb-4">Summary</a>	</li>
              <li> <a routerLink="/department-transaction" title="Current Transaction" class=" mb-4">Current Transaction</a></li>

                 <li><a routerLink="/past-transaction" title="Past Transaction" class=" btn-warning mb-4">Past Transaction</a>
                 </li></ul>

        </div>
      </div>
      <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
  </div>
  <!-- modal -->
</div>
<!-- container -->



