.projects-button a {
    margin-bottom: 5px;
    margin-left: 5px;
    color: #fff;
}

.projects-button a i {
  vertical-align: text-top;
  font-size: 0.8rem;
  margin-top: 0px;
  /* margin-bottom: -1em; */
  /* margin-right: 5px; */
}


ul {
  --icon-space: 1.3em;
  list-style: none;
  padding: 0;
}

li {
  padding-left: var(--icon-space);
  
}

li a{
  color: #000;
  line-height: 32px;
  font-weight: bold;
}

li a:hover{
  color: #008cff;
}



li:before {
  content: "\eb43"; /* FontAwesome Unicode */
  font-family: boxicons;
  display: inline-block;
  margin-left: calc( var(--icon-space) * -1 );
  width: var(--icon-space);
}


/*******************************
* MODAL AS RIGHT SIDEBAR
* "right" in modal parent div, after class="modal".
*******************************/

.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 250px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.right .modal-body {
  padding: 15px 15px 80px;
  background-color: #f9f6f6;
}

/*Right*/
.modal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom-color: #eeeeee;
  background-color: #fafafa;
}

/* ----- v CAN BE DELETED v ----- */




.btn-demo {
  /* margin: 15px; */
  padding: 4px 5px;
  border-radius: 0;
  font-size: 16px;
  background-color: #102d8b;;
}

/* .btn-demo:focus {
  outline: 0;
} */



.fade.in {
  opacity: 1;
}

.fade:not(.show) {
  opacity: 1;
}



  