<section class="section">
  <div class="container">
    <div class="row page-content">
      <div class="col-md-12">
        <div class="d-lg-flex align-items-center mb-4 gap-3">
          <h4 class="mb-0 text-primary">Reports By Package</h4>

        </div>
        <div class="card border-top border-0 border-4 border-primary">
          <div class="card-body p-4">
            <table class="example table dt-responsive nowrap table-responsive" style="width:100%;">
              <tbody>
                <tr>
                  <th>Report Type</th>
                  <th>Generate</th>
                </tr>
                <tr class="info">
                  <th colspan="2">Filter by Package, APQ, FPQ </th>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <select name="package1" id="package1" style="width: 100%" class="form-control"
                        fdprocessedid="pdak7j">
                        <option value="">Filter package</option>
                        <option value="VEN-1">VEN-1 - ANAESTHETIC, VENTILATOR &amp; ASSOCIATED PACKAGE</option>
                        <option value="MON-1">MON-1 - MONITOR PATIENT &amp; ASSOCIATED PACKAGE</option>
                        <option value="ECG-1">ECG-1 - ECG, STRESS TEST &amp; ASSOCIATED PACKAGE</option>
                        <option value="DIA-1">DIA-1 - HAEMODIALYSIS ASSOCIATED PACKAGE</option>
                        <option value="ADL-1">ADL-1 - ASSISTED DAILY LIVING KITCHEN</option>
                        <option value="DEF-1">DEF-1 - DEFIBRILLATOR &amp; ASSOCIATED PACKAGE</option>
                        <option value="RST-1">RST-1 - RESUSCITATION, TROLLEY &amp; ASSOCIATED PACKAGE</option>
                        <option value="CTG-1">CTG-1 - CTG, FETAL DOPPLER &amp; ASSOCIATED PACKAGE</option>
                        <option value="NCU-1">NCU-1 - NICU INCUBATOR, RADIANT WARMER &amp; ASSOCIATED PACKAGE</option>
                        <option value="ULT-1">ULT-1 - ULTRASOUND &amp; ASSOCIATED PACKAGE</option>
                        <option value="PIF-1">PIF-1 - PUMP INFUSION &amp; ASSOCIATED PACKAGE</option>
                        <option value="INS-1">INS-1 - SURGICAL INSTRUMENT ASSOCIATED PACKAGE</option>
                        <option value="DEN-1">DEN-1 - DENTAL ASSOCIATED PACKAGE</option>
                        <option value="LAN-1">LAN-1 - LAB ANALYSER &amp; ASSOCIATED PACKAGE</option>
                        <option value="LIC-1">LIC-1 - LAB MICROBIOLOGY, INCUBATOR, CENTRIFUGE &amp; ASSOCIATED PACKAGE
                        </option>
                        <option value="LMI-1">LMI-1 - LAB MICROSCOPE, WEIGHING SCALE &amp; ASSOCIATED PACKAGE</option>
                        <option value="LLG-1">LLG-1 - LAB LOOSE &amp; GLASSWARE ASSOCIATED PACKAGE</option>
                        <option value="BIC-1">BIC-1 - ICU BED &amp; ASSOCIATED PACKAGE</option>
                        <option value="BED-1">BED-1 - BED, COUCH, WHEELCHAIR &amp; ASSOCIATED PACKAGE</option>
                        <option value="SCO-1">SCO-1 - ENDOSCOPE, LAPAROSCOPE &amp; ASSOCIATED PACKAGE</option>
                        <option value="OTM-1">OTM-1 - MICROSCOPE OPERATING DIAGNOSTIC &amp; ASSOCIATED PACKAGE</option>
                        <option value="LES-1">LES-1 - LASER ENT, EYE &amp; DENTAL ASSOCIATED PACKAGE</option>
                        <option value="EYE-1">EYE-1 - OPTHALMOLOGY ASSOCIATED PACKAGE</option>
                        <option value="ENT-1">ENT-1 - ENT, AUDIOLOGY &amp; SPEECH ASSOCIATED PACKAGE</option>
                        <option value="CLI-1">CLI-1 - CLINICAL, DIAGNOSTIC &amp; ASSOCIATED PACKAGE</option>
                        <option value="OTL-1">OTL-1 - OT LOOSE ASSOCIATED PACKAGE</option>
                        <option value="PSC-1">PSC-1 - PUMP SUCTION &amp; ASSOCIATED PACKAGE</option>
                        <option value="PHA-1">PHA-1 - PHARMACY ASSOCIATED PACKAGE</option>
                        <option value="REF-1">REF-1 - REFRIGERATOR MEDICAL &amp; ASSOCIATED PACKAGE</option>
                        <option value="WSC-1">WSC-1 - WEIGHING SCALE &amp; ASSOCIATED PACKAGE</option>
                        <option value="GAS-1">GAS-1 - MEDICAL GAS ASSOCIATED PACKAGE</option>
                        <option value="ELT-1">ELT-1 - ELECTROTHERAPY MACHINE &amp; ASSOCIATED PACKAGE</option>
                        <option value="GYM-1">GYM-1 - GYM EQUIPMENT, COUCH &amp; ASSOCIATED PACKAGE</option>
                        <option value="REH-1">REH-1 - REHABILITATION LOOSE &amp; ADL ASSOCIATED PACKAGE</option>
                        <option value="POP-1">POP-1 - POP &amp; SPLINT ASSOCIATED PACKAGE</option>
                        <option value="EDU-1">EDU-1 - EDUCATION MATERIAL ASSOCIATED PACKAGE</option>
                        <option value="MOR-1">MOR-1 - LOOSE MORTUARY ASSOCIATED PACKAGE</option>
                        <option value="XRY-1">XRY-1 - LOOSE X-RAY ASSOCIATED PACKAGE</option>
                        <option value="DIS-1">DIS-1 - DISASTER EQUIPMENT ASSOCIATED PACKAGE</option>
                        <option value="DOM-1">DOM-1 - DOMESTIC ELECTRICAL ASSOCIATED PACKAGE</option>
                        <option value="KIT-1">KIT-1 - KITCHEN LOOSE ASSOCIATED PACKAGE</option>
                        <option value="NON-1">NON-1 - NON MEDICAL EQUIPMENT ASSOCIATED PACKAGE</option>
                        <option value="OFF-1">OFF-1 - OFFICE STATIONERY ASSOCIATED PACKAGE</option>
                        <option value="MRI-1">MRI-1 - MRI COMPATIBLE EQUIPMENT ASSOCIATED PACKAGE</option>
                        <option value="Test-1">Test-1 - Test for pages</option>
                        <option value="VEHI">VEHI - AMBULANCE &amp; VEHICLES</option>
                        <option value="PHAR">PHAR - PHARMACY EQUIPMENT</option>
                        <option value="HXR001">HXR001 - IMAGING</option>
                        <option value="HPH080">HPH080 - PHARMACY</option>
                        <option value="HMG005">HMG005 - MEDICAL GAS PACKAGE</option>
                        <option value="AMBU">AMBU - AMBULANCE RELATED EQUIPMENT</option>
                        <option value="MNE-1">MNE-1 - EQUIPMENT RELATED TO G1</option>
                      </select>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="checkbox" style="width: 10%" name="apq" value="apq" id="apq"
                        class="form-control labels"> <strong>APQ</strong>
                      <input type="checkbox" style="width: 10%" name="fpq" value="fpq" id="fpq"
                        class="form-control labels mt-2"> <strong>FPQ</strong>
                      <input type="checkbox" style="width: 10%" name="pq" value="apq|fpq" id="pq"
                        class="form-control labels mt-2"> <strong>Both</strong>
                      <input type="checkbox" style="width: 10%" name="qy" value="qy" id="qy"
                        class="form-control labels mt-2"><sub>Only for PDF-COMP, EXCEL-COMP buttons, with APQ
                        only</sub><br> <strong>QTY</strong>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Equipment Listing(BQ), by Package</td>
                  <td>
                    <a id="equipments_list_by_labels_pdf" target="_blank" href=""
                      class="btn btn-sm btn-info labels">PDF</a>
                    <a id="equipments_list_by_labels_pdf1_price" target="_blank" href=""
                      class="btn btn-sm btn-primary labels">PDF - 1 Page with price</a>
                    <a id="equipments_list_by_labels_one" target="_blank" href="" class="btn btn-sm btn-info labels">PDF
                      - 1 Page</a>
                    <a id="equipments_list_by_labels_xls" target="_blank" href=""
                      class="btn btn-sm btn-info labels">EXCEL</a>
                    <a id="equipments_list_by_labels_with_price" target="_blank" href=""
                      class="btn btn-sm btn-primary labels">EXCEL with price</a>
                  </td>
                </tr>
                <tr>
                  <td>Equipment Location Listing, by Package</td>
                  <td>
                    <a id="equipment_allocation_by_labels_pdf" target="_blank" href=""
                      class="btn btn-sm btn-info labels">PDF</a>
                    <a id="equipment_allocation_by_labels_pdf1" target="_blank" href=""
                      class="btn btn-sm btn-info labels">PDF - 1 Page</a>
                    <a id="equipment_allocation_by_labels_xls" target="_blank" href=""
                      class="btn btn-sm btn-info labels">EXCEL</a>
                  </td>
                </tr>
                <tr>
                  <td>Equipment Listing by Department, by Package</td>
                  <td>
                    <a id="equipments_list_department_by_labels_pdf" target="_blank" href=""
                      class="btn btn-sm btn-info labels">PDF</a>
                    <a id="equipments_list_department_by_labels_pdf1" target="_blank" href=""
                      class="btn btn-sm btn-primary labels">PDF - 1 Page with price</a>
                    <a id="equipments_list_department_by_labels_pdf1_sign" target="_blank" href=""
                      class="btn btn-sm btn-info labels">PDF - 1 Page</a>
                    <a id="equipments_list_department_by_labels_xls" target="_blank" href=""
                      class="btn btn-sm btn-info labels">EXCEL</a>
                    <a id="equipments_list_department_by_labels_xls_price" target="_blank" href=""
                      class="btn btn-sm btn-primary labels">EXCEL with price</a>
                  </td>
                </tr>
                <tr>
                  <td>Equipment Listing by Department and Room (utility)</td>
                  <td>
                    <a id="equipments_list_department_room_by_labels_pdf" target="_blank" href=""
                      class="btn btn-sm btn-info labels">PDF</a>
                    <a id="equipments_list_department_room_by_labels_pdf1" target="_blank" href=""
                      class="btn btn-sm btn-info labels">PDF - 1 Page</a>
                    <a id="equipments_list_department_room_by_labels_pdf2" target="_blank" href=""
                      class="btn btn-sm btn-info labels">PDF - 1 Page (w/ sign)</a>
                    <a id="equipments_list_department_room_by_labels_xls" target="_blank" href=""
                      class="btn btn-sm btn-info labels">EXCEL</a>
                  </td>
                </tr>
                <tr>
                  <td>Equipment Listing for RDS <span class="glyphicon glyphicon-star"
                      style="color: red; font-size: 10px;" aria-hidden="true"></span></td>
                  <td>
                    <a id="equipments_list_rds_pdf" target="_blank" href="" class="btn btn-sm btn-info labels">EXCEL
                      COMP</a>
                  </td>
                </tr>
                <tr>
                  <td>Equipment Listing by Department and Room (labels)</td>
                  <td>
                    <a id="equipments_list_department_room_by_labels_pdf_0" target="_blank" href=""
                      class="btn btn-sm btn-info labels">PDF</a>
                    <a id="equipments_list_department_room_by_labels_pdf_1" target="_blank" href=""
                      class="btn btn-sm btn-info labels">PDF - 1 Page</a>
                    <a id="equipments_list_department_room_by_labels_pdf_2" target="_blank" href=""
                      class="btn btn-sm btn-info labels">PDF - 1 Page (w/ sign)</a>
                    <a id="equipments_price_list_department_room_by_labels_pdf_0" target="_blank" href=""
                      class="btn btn-sm btn-primary labels">PDF - 1 Page with price</a>
                    <a id="equipments_list_department_room_by_labels_xls_0" target="_blank" href=""
                      class="btn btn-sm btn-info labels">EXCEL</a>
                    <br> <br>
                    <a id="equipments_price_list_department_room_by_labels_xls_0" target="_blank" href=""
                      class="btn btn-sm btn-primary labels">EXCEL with price</a>
                    <a id="equipments_list_department_room_by_labels_pdf_compare_0" target="_blank" href=""
                      class="btn btn-sm btn-info labels">PDF COMP</a>
                    <a id="equipments_list_department_room_by_labels_xls_compare_0" target="_blank" href=""
                      class="btn btn-sm btn-info labels">EXCEL COMP</a>
                  </td>
                </tr>
                <tr>
                  <td class="labels-check1">
                    <div class="pull-right">
                      <input type="checkbox" id="select_all_group1" class="form-check-input"> <strong> Select All
                      </strong>
                    </div>
                    <div class="checkbox"><label><input type="checkbox" value="" checked=""></label></div>
                  </td>
                  <td></td>
                </tr>
                <!--                                             -->
                <!-- Utility -->
                <tr>
                  <td colspan="2">
                    <div><strong>Include</strong></div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="owner_logo1" class="form-check-input"> Hanimed logo
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="company_logo1" class="form-check-input"> ARUNAMARI SPECIALIST MEDICAL
                        CENTRE logo
                      </label>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
