h6 {
  color: #ffa000;
}

.new-eq {
  border: #a3cbf3 solid 1px;
  color: #555555;
  margin-left: 10px;
}
.dataTables_length label {
  display: none !important;
  border: dotted !important;
}
h5,
.h5 {
  font-size: 14px;
  color: #317eac;
}

h4 {
  font-size: 18px;
  color: #317eac;
}

.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}

.fa-sm {
  font-size: 1rem;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  vertical-align: initial;
}

.replace-eq {
  border: #aa9ec7 solid 1px;
  margin-left: 10px;
  color: #555555;
}

.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

/*******************************
* MODAL AS RIGHT SIDEBAR
* "right" in modal parent div, after class="modal".
*******************************/

.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.right .modal-body {
  padding: 15px 15px 80px;
  background-color: #f9f6f6;
}

/*Right*/
.modal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom-color: #eeeeee;
  background-color: #fafafa;
}

/* ----- v CAN BE DELETED v ----- */

.btn-demo {
  /* margin: 15px; */
  padding: 4px 5px;
  border-radius: 0;
  font-size: 16px;
  background-color: #102d8b;
}

/* .btn-demo:focus {
  outline: 0;
} */

label {
  font-weight: bold;
}

.fade.in {
  opacity: 1;
}

.fade:not(.show) {
  opacity: 1;
}

.badge-primary {
  color: #fff;
  background-color: #007bff;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1cabb1;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1cabb1;
}

#nav-tab {
  display: grid;
}

.overflow-auto {
  height: 240px;
  overflow-y: scroll;
  list-style-type: decimal;

}

.overflow-auto li{
  margin-bottom: 10px;;
}

.minus, .plus{
  width: 20px;
    height: 20px;
    background: #f2f2f2;
    border-radius: 4px;
    padding: 8px 5px 8px 5px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 0px;
    cursor: pointer;
}
