<section class="section">
  <div class="container">
    <div class="row page-content">
      <div class="col-md-12">
        <div class="d-lg-flex align-items-center mb-4 gap-3">
          <h4 class="mb-0 text-primary">Room Transaction </h4>
        </div>
      </div>
      <div class="col-sm-12">
        <table id="table-info" class="table table-condensed">
          <tbody>
            <tr>
              <td>
                <h6>Project Info</h6>
              </td>
              <td colspan="2"><strong>Code: </strong>{{project?.code | uppercase}}</td>
              <td><strong>Project Name: </strong>{{project?.name | uppercase}}</td>
              <td><strong>Department Code: </strong>{{department?.code | uppercase}}</td>
              <td><strong>Department Alias: </strong>{{department?.name | uppercase}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <div>
          <div class="float-start d-lg-flex gap-3">
            <a class="btn btn-sm btn-danger" routerLink="pages/department-transaction"> <i
                class="fa-solid fa-chevron-left fa-sm"></i> Back </a>
          </div>
          <div class="float-end d-lg-flex gap-3">
            <button title="Add Room" type="button" class="btn btn-sm btn-primary" data-toggle="modal"
              data-target="#myModal2">
              <i class="fal fa-file-plus"> </i>
            </button>
            <button type="button" class="btn btn-sm btn-success" id="copy_paste" title="COPY"><i
                class='bx bxs-copy'></i></button>
            <button type="button" class="btn btn-sm btn-danger" id="delete_eq" title="DELETE"><i
                class='bx bxs-trash'></i></button>
            <button type="button" class="btn btn-info" id="disable_room">Disable/Enable Room</button>
            <button type="button" class="btn btn-warning" id="view_eq">View Equipment</button>
            <a class="btn btn-primary" href="">All Equipment Allocation</a>
          </div>
        </div>
      </div>

      <div class="col-md-12 mt-4">
        <div class="card p-3">
          <div class="card-body">
            <!-- For search bar -->
            <div class="input-group mb-3" style="width: 300px; float: right;">
              <input type="text" class="form-control form-control" placeholder="Search" [(ngModel)]="searchText"
                (input)="searchRoomList()">
            </div>
            <table id="example" class="display table" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th></th>
                  <th>Room</th>
                  <th>Size</th>
                  <th>Code</th>
                  <th>Room Alias</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr role="row" class="odd" *ngFor="let room of filteredRoomData; let i=index;"> <!-- For search bar -->
                  <td><input type="checkbox" name="h_dep_id" value="947"></td>
                  <td>{{ room.name | uppercase }}</td>
                  <td></td>
                  <td>{{ room.code | uppercase }}</td>
                  <td>{{ room.name | uppercase }}</td>
                  <td>
                    <a title="Add Equipment" class="btn btn-xs btn-primary"
                      (click)="openEquipmentAllocationModal(room._id)">
                      Add Equipments
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- modal -->
<div class="container demo">
  <!-- Modal -->
  <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel2">Sidebar</h4>
        </div>
        <div class="modal-body">
          <div class="d-flex justify-content-center align-items-center bg-light">
            <div class="card p-3 shadow">
              <h4>Add Room</h4>
              <table id="example1" class="display" cellspacing="0" width="100%">
                <thead>
                  <tr role="row">
                    <th>Qty</th>
                    <th>Room</th>
                    <th>Code</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of roomData">
                    <td>
                      <!-- This is Qty -->
                      <select [(ngModel)]="item.selectedQuantity" name="rm_code" fdprocessedid="c8ea2k">
                        <option [ngValue]="0">0</option>
                        <option *ngFor="let option of selectOptions" [value]="option.value">
                          {{ option.label }}
                        </option>
                      </select>
                    </td>
                    <td>{{ item.name | uppercase}}</td>
                    <td>{{ item.code | uppercase}}</td>
                  </tr>
                </tbody>
              </table>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="saveRoomData()">Add</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
  </div>
  <!-- modal -->
</div>
<!-- container -->
