<!-- <p>project-newtemplate works!</p> -->


<div class="full-width">
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--  <h6 class="mb-0 text-uppercase"></h6>
                        <hr/> -->
                    <div class="card border-top border-0 border-4 border-primary">
                        <div class="card-body p-5">
                            <div class="card-title d-flex align-items-center">
                                <h5 class="mb-0 text-primary">New Template</h5>
                            </div>
                            <form class="row g-3">
                                <div class="col-md-6">
                                    <label for="inputFirstName" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="inputFirstName" placeholder="Enter Name">
                                </div>
                                <div class="col-md-6">
                                    <label for="inputLastName" class="form-label">No of Beds</label>
                                    <input type="text" class="form-control" id="inputLastName" placeholder="Enter No of Beds">
                                </div>
                                <div class="col-md-6">
                                    <label for="inputState" class="form-label">Classification</label>
                                    <select id="inputState" class="form-select">
                                        <option value="CHI">CHILDRENS HOSPITAL</option>
                                        <option value="DEPARTMENT">MEDICAL EQUIPMENT PLANNING</option>
                                        <option value="GEN">GENERAL HOSPITAL</option>
                                        <option value="KK0001">KLINIK KESIHATAN 2</option>
                                        <option value="SPEC">SPECIALIZED HOSPITAL</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="inputState" class="form-label">Project Type</label>
                                    <select id="inputState" class="form-select">
                                        <option selected>GOVERNMENT</option>
                                        <option>PRIVATE</option>
                                    </select>
                                </div>
                                <div class="col-md-12">
                                    <label for="inputAddress" class="form-label">Remarks</label>
                                    <textarea class="form-control" id="inputAddress" placeholder="Remarks..." rows="2"></textarea>
                                </div>
                              
                               
                                <div class="col-12 text-center">
                                    <a routerLink="/project-template" class="btn btn-primary px-5 me-3">Save</a>
                                    <a routerLink="/project-template" class="btn btn-secondary px-5">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>