
<div class="full-width">
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="card border-top border-0 border-4 border-primary">
            <div class="card-body p-5">
              <div class="card-title d-flex align-items-center">
                <h5 class="mb-0 text-primary">New Template</h5>
              </div>

              <form [formGroup]="addDepartment" (ngSubmit)="SaveData()">
                <div class="col-md-6 mt-0">
                  <label for="inputFirstName" class="form-label">Name</label>
                  <input type="text" class="form-control" id="inputFirstName" placeholder="Enter Name"
                    formControlName="name" autocomplete="off"
                    [ngClass]="{'is-invalid': submitted && addDepartment.controls['name'].errors}">
                  <div class="text-danger" *ngIf="submitted && addDepartment.controls['name'].errors?.['required']">Name
                    is required</div>
                </div>
                <div class="col-md-6">
                  <label for="inputLastName" class="form-label">No of Beds</label>
                  <input type="text" class="form-control" id="inputLastName" placeholder="Enter No of Beds"
                    formControlName="noofbeds"
                    [ngClass]="{'is-invalid': submitted && addDepartment.controls['noofbeds'].errors}">
                  <div class="text-danger" *ngIf="submitted && addDepartment.controls['noofbeds'].errors?.['required']">
                    No of Beds is required</div>
                </div>
                <div class="col-md-6">
                  <label for="inputState" class="form-label">Classification</label>
                  <select id="inputState" class="form-select" formControlName="classification">
                    <option *ngFor="let classification of classifications" [value]="classification.value">{{
                      classification.label }}</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="inputState" class="form-label">Project Type</label>
                  <select id="inputState" class="form-select" formControlName="projecttype">
                    <option *ngFor="let projecttype of projecttypes" [value]="projecttype.value">{{ projecttype.label
                      }}</option>
                  </select>
                </div>
                <div class="col-md-12">
                  <label for="inputAddress" class="form-label">Remarks</label>
                  <textarea class="form-control" id="inputAddress" placeholder="Remarks..." formControlName="remarks"
                    rows="2"
                    [ngClass]="{'is-invalid': submitted && addDepartment.controls['remarks'].errors}"></textarea>
                  <div class="text-danger" *ngIf="submitted && addDepartment.controls['remarks'].errors?.['required']">
                    Remarks is required</div>
                </div>
                <div class="col-md-6 text-center mt-3">
                  <button type="submit" class="btn btn-primary px-4 me-3">{{ isEdit ? 'Update' : 'Save'}}</button>
                  <a routerLink="/pages/project-template"><i class="material-icon">Cancel</i></a>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
