@import '~datatables.net-bs5/css/dataTables.bootstrap5.min.css'; 
@import '~datatables.net-bs5/css/dataTables.bootstrap5.css'; 
@import '~datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css';
@import '~datatables.net-responsive-bs5/css/responsive.bootstrap5.css'; 

.card {
    border: 0 solid transparent;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}

.material-icons{
    display: inline-block;
    padding: 2px  13px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color:skyblue;
    border-radius: 50px;
    box-shadow: 0 5px #999;
    margin-right: 10px;

}
.material-icon{
    display: inline-block;
    padding: 2px 5px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color:orangered;
    border-radius: 50px;
    box-shadow: 0 5px #999;
}
.col-md-13{
margin-left: 40px;
}