<section class="section">

  <div class="container">
    <div class="row page-content">
      <div class="col-md-12">

        <div class="d-lg-flex align-items-center mb-4 gap-3">
          <h4 class="mb-0 text-primary">Department </h4>
          <div class="ms-auto"><a routerLink="/department-form" class="btn btn-primary sqare-0 mt-2 mt-lg-0"><i
                class="bx bxs-plus-square"></i>Add Department</a></div>
        </div>
        <div class="col-md-12">
          <div class="card p-3">
            <div class="card-body">
              <table class="example table dt-responsive nowrap table-responsive" style="width:100%;">
                <thead>
                  <tr>
                    <th>S.No</th>
                    <th>Department Code</th>
                    <th>Department Name</th>
                    <th>Active</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of departmentData; let i=index;">
                    <td>{{ skip + i+1 }}</td>
                    <td>{{item.departmentcode}}</td>
                    <td>{{item.departmentname | uppercase}}</td>
                    <td>{{item.active}}</td>
                    <td>
                      <div class="d-flex order-actions">
                        <a routerLink="/department-form/{{item._id}}" title="Edit" class="text-success me-2"><i
                            class="fa fa-edit"> </i> </a>
                        <a href="javascript:;" (click)="delete(item._id)" title="Delete" class="text-danger me-2"><i
                            class="fa fa-trash"> </i> </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5">
                      <ngb-pagination [collectionSize]="count" [(page)]="page" (pageChange)="Load()"
                        aria-label="Default pagination"></ngb-pagination>
                      <pre>Current page: {{page}}</pre>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
