<section class="section">
    <div class="container">
        <div class="row page-content">

            <div class="col-md-12">
                <div class="d-lg-flex align-items-center mb-4 gap-3">
                    <h4 class="mb-0 text-primary">Equipment Allocation </h4>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table id="table-info" class="table table-condensed">
                        <tbody>
                            <tr>
                                <td>
                                    <h6>Project Info</h6>
                                </td>
                                <td colspan="2"><strong>Code: </strong>{{this.equipmentData[0]?.code}}</td>
                                <td><strong>Project Name: </strong>{{this.equipmentData[0]?.name}}</td>
                                <td><small>Legend:</small> <span class="label label-primary new-eq">New Equipment</span>
                                    <span class="label label-primary replace-eq">Replaced Equipment</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <div>
                    <div class="float-start d-lg-flex gap-3">
                        <a class="btn btn-sm btn-success" routerLink="/pages/projects/{{ projectType }}/list" title="Back"><i
                                class="fa-solid fa-chevron-left fa-sm"></i> </a>
                        <a class="btn btn-sm btn-danger" routerLink="/pages/projects/{{ projectType }}/list" title="Cancel"><i
                                class="fa-solid fa-cancel fa-sm"></i> </a>
                        <a class="btn btn-sm btn-primary" routerLink="/pages/projects/{{projectId}}/equipment-summary" title="Summary"><i
                                class="fa-solid fa-list-alt fa-sm"></i> </a>
                    </div>
                    <div class="float-end d-lg-flex gap-3">
                        <button type="button" class="btn btn-primary btn-xs" title="Equipment List" data-toggle="modal"
                            data-target="#myModal4"> <i class='fal fa-list'></i></button>
                        <button type="button" class="btn btn-sm btn-primary" title="Filter"><i
                                class='fal fa-filter'></i></button>
                        <!-- Add Equipment -->
                        <button title="Add Equipment" type="button" class="btn btn-sm btn-primary"
                            (click)="openEquipmentAllocationModal()">
                            <i class="fal fa-file-plus"> </i>
                        </button>

                        <button title="Replace" type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                            data-target="#myModal3" type="button" class="btn btn-sm btn-primary"><i
                                class='fal fa-exchange'></i></button>
                        <button type="button" class="btn btn-sm btn-danger" id="delete_eq" title="DELETE"><i
                                class='bx bxs-trash'></i></button>
                        <button type="button" class="btn btn-sm btn-success" id="copy_paste" title="COPY"><i
                                class='bx bxs-copy'></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-4">
                <div class="card p-3">
                    <div class="card-body">
                        <app-loader *ngIf="loader"></app-loader>
                        <table id="example" class="table" cellspacing="0" width="100%">
                            <thead>
                                <tr role="row">
                                    <th>Department</th>
                                    <th>Room</th>
                                    <th>Equipment</th>
                                    <th>APQ</th>
                                    <th>FPQ</th>
                                    <th>QTY</th>
                                </tr>
                            </thead>
                            <thead>
                                <tr>
                                    <th><input type="text" placeholder="Search Department" fdprocessedid="6ij23s"></th>
                                    <th><input type="text" placeholder="Search Room" fdprocessedid="tvivm"></th>
                                    <th><input type="text" placeholder="Search Equipment" fdprocessedid="aw57a6"></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" class="odd" *ngFor="let eqp of filteredEquipmentData; let i=index;">
                                    <td><strong>{{eqp.code}}</strong> - {{eqp.name}} </td>
                                    <td (click)="selectRoom(eqp,i)" class="" [class.selectedRoom]="selectedIndex === i"
                                        role="button">
                                        <div data-dep="AD - ADMINISTRATION (L4)" data-room="AD101 - RECEPTION"
                                            data-room_code="27278">
                                            <strong>{{eqp.departments.rooms.code}}</strong> -
                                            {{eqp.departments.rooms.name}}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox" style="margin: 0px;">
                                            <label>
                                                <input type="checkbox" name="eq_id" value="174731">
                                                <strong>{{eqp.departments.rooms.equipments.code}}</strong> -
                                                {{eqp.departments.rooms.equipments.name}}
                                            </label>
                                        </div>
                                    </td>
                                    <td class=" editablex">
                                        <app-edit-input [data]="eqp.departments.rooms.equipments.apq || 0"
                                            [equipmentIndex]="eqp.arrayIndex" [departmentId]="eqp.departments._id"
                                            [roomId]="eqp.departments.rooms._id" [field]="'apq'" [projectId]="projectId"
                                            [type]="'equipment'" [inputsize]="100"></app-edit-input>
                                    </td>
                                    <td class=" editablex">
                                        <app-edit-input [data]="eqp.departments.rooms.equipments.fpq || 0"
                                            [equipmentIndex]="eqp.arrayIndex" [departmentId]="eqp.departments._id"
                                            [roomId]="eqp.departments.rooms._id" [field]="'fpq'" [projectId]="projectId"
                                            [type]="'equipment'" [inputsize]="100"></app-edit-input>
                                    </td>
                                    <td class=" editablex">
                                        <app-edit-input [data]="eqp.departments.rooms.equipments.quantity || 0"
                                            [equipmentIndex]="eqp.arrayIndex" [departmentId]="eqp.departments._id"
                                            [roomId]="eqp.departments.rooms._id" [field]="'quantity'"
                                            [projectId]="projectId" [type]="'equipment'"
                                            [inputsize]="100"></app-edit-input>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6" class="text-end">
                                        <ngb-pagination class="d-inline-block" [collectionSize]="count" [(page)]="page" (pageChange)="loadEquipments()" aria-label="Default pagination" [maxSize]="5"></ngb-pagination>
                                        <pre>Current page: {{page}}</pre>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- modal -->
<div class="container demo">
    <!-- Modal -->
    <div class="modal right fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel3">Equipment</h4>
                </div>
                <div class="modal-body">
                    <h4>Replace Equipment</h4>
                    <div class="d-flex justify-content-center align-items-center bg-light">
                        <div class="card p-3 shadow">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Selected Equipment(s) to be Replaced:</label>
                                    <select name="room" class="form-control" multiple="" size="10"
                                        fdprocessedid="0a4vep">
                                        <option selected="">HCS130/182 - AUTOCLAVE 20CUFT SINGLE DOOR W ACCESS. (FUTURE)
                                        </option>
                                    </select>
                                    <small>Above list shows unique Equipment</small>
                                </div>
                                <div class="form-group mt-2">
                                    <h4 class="mb-4">Select New Equipment:</h4>
                                    <table id="example3" class="table" cellspacing="0" width="100%">
                                        <thead>
                                            <tr role="row">
                                                <th></th>
                                                <th>Equipment</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><input class="checkbox" type="checkbox" name="" value=""></td>
                                                <td>SPO/014 - WATER JET</td>
                                            </tr>
                                            <tr>
                                                <td><input class="checkbox" type="checkbox" name="" value=""></td>
                                                <td>SPO/020 - VACUUM PUMP WITHOUT TANK</td>
                                            </tr>
                                            <tr>
                                                <td><input class="checkbox" type="checkbox" name="" value=""></td>
                                                <td>SPO/027 - VACUUM FORMING WORKSTATION WITH INTEGRATED TANK</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-md-12 text-center mt-3">
                                    <button type="submit" class="btn btn-primary px-4 me-3 m"
                                        fdprocessedid="hipqpp">Ok</button>
                                    <a class="btn btn-secondary px-5" href="" data-dismiss="modal">Close</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal-content -->
        </div>
        <!-- modal-dialog -->
    </div>
    <!-- modal -->
</div>
<!-- container -->




<!-- modal -->
<div class="container demo">
    <!-- Modal -->
    <div class="modal right fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel3">Sidebar</h4>
                </div>
                <div class="modal-body">

                    <h4>Replace Equipment</h4>

                    <div class="d-flex justify-content-center align-items-center bg-light">
                        <div class="card p-3 shadow">
                            <div class="col-sm-12">

                                <div class="form-group">
                                    <label>Selected Equipment(s) to be Replaced:</label>
                                    <select name="room" class="form-control" multiple="" size="10"
                                        fdprocessedid="0a4vep">
                                        <option selected="">HCS130/182 - AUTOCLAVE 20CUFT SINGLE DOOR W ACCESS. (FUTURE)
                                        </option>
                                    </select>
                                    <small>Above list shows unique Equipment</small>
                                </div>

                                <div class="form-group mt-2">
                                    <h4 class="mb-4">Select New Equipment:</h4>
                                    <table id="example3" class="display" cellspacing="0" width="100%">
                                        <thead>

                                            <tr role="row">
                                                <th></th>
                                                <th>Equipment</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><input class="checkbox" type="checkbox" name="" value=""></td>
                                                <td>SPO/014 - WATER JET</td>
                                            </tr>

                                            <tr>
                                                <td><input class="checkbox" type="checkbox" name="" value=""></td>
                                                <td>SPO/020 - VACUUM PUMP WITHOUT TANK</td>


                                            </tr>


                                            <tr>
                                                <td><input class="checkbox" type="checkbox" name="" value=""></td>
                                                <td>SPO/027 - VACUUM FORMING WORKSTATION WITH INTEGRATED TANK</td>


                                            </tr>
                                        </tbody>


                                    </table>


                                </div>

                                <div class="col-md-12 text-center mt-3">

                                    <button type="submit" class="btn btn-primary px-4 me-3 m"
                                        fdprocessedid="hipqpp">Ok</button>
                                    <a class="btn btn-secondary px-5" href="">Close</a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <!-- modal-content -->
        </div>
        <!-- modal-dialog -->
    </div>
    <!-- modal -->
</div>
<!-- container -->
<!-- </div> -->
<!-- container -->
