<section class="section">
    <div class="container-fluid">
        <div class="row page-content">

            <div class="col-md-12">
                <div class="d-lg-flex align-items-center mb-4 gap-3">
                    <h4 class="mb-0 text-primary">Equipment Allocation </h4>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table id="table-info" class="table table-condensed">
                        <tbody>
                            <tr>
                                <td>
                                    <h6>Project Info</h6>
                                </td>
                                <td colspan="2"><strong>Code: </strong>{{this.equipmentData[0]?.projectCode}}</td>
                                <td><strong>Project Name: </strong>{{this.equipmentData[0]?.projectName}}</td>
                                <td><small>Legend:</small> <span class="label label-primary new-eq">New Equipment</span>
                                    <span class="label label-primary replace-eq">Replaced Equipment</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <div>
                    <div class="float-start d-lg-flex mt-2">
                        <a class="btn btn-sm btn-success me-2" routerLink="/pages/projects/{{ projectType }}/list"
                            title="Back"><i class="fa-solid fa-chevron-left fa-sm"></i> </a>
                        <a class="btn btn-sm btn-danger me-2" routerLink="/pages/projects/{{ projectType }}/list"
                            title="Cancel"><i class="fa-solid fa-cancel fa-sm"></i> </a>
                        <a class="btn btn-sm btn-primary me-2"
                            routerLink="/pages/projects/{{ projectType }}/{{projectId}}/equipment-summary"
                            title="Summary"><i class="fa-solid fa-list-alt fa-sm"></i> </a>
                    </div>
                    <div class="float-end d-lg-flex mt-2">
                        <button type="button" class="btn btn-primary btn-xs me-2" title="Equipment List"
                            data-toggle="modal" data-target="#myModal4"> <i class='fal fa-list'></i></button>
                        <button type="button" class="btn btn-xs btn-primary me-2" title="Filter" (click)="openFilterModal()"><i
                                class='fal fa-filter'></i></button>
                        <!-- Add Equipment -->
                        <button title="Add Equipment" type="button" class="btn btn-xs btn-primary me-2"
                            (click)="openEquipmentAllocationModal()"><i class="fal fa-file-plus"> </i></button>
                        <button title="Replace" type="button" data-toggle="modal" data-target="#myModal3" type="button"
                            class="btn btn-xs btn-primary me-2"><i class='fal fa-exchange'></i></button>
                        <button type="button" class="btn btn-xs btn-danger me-2" (click)="delete('1230')" id="delete_eq"
                            title="DELETE"><i class='bx bxs-trash'></i></button>
                        <button type="button" class="btn btn-xs btn-success me-2" id="copy_paste" title="COPY"><i
                                class='bx bxs-copy'></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-4">
                <div class="card p-3">
                    <div class="card-body">
                        <app-loader *ngIf="loader"></app-loader>

                        <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                            <ng-container *ngFor="let column of displayedColumns; let i = index"
                                [matColumnDef]="column">
                                <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [index]="i">
                                    <span>{{column}} </span></th>
                                <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table> -->
                        <div class="table">

                            <table id="example" role="grid" class="table table-resize" width="100%">
                                <thead>
                                    <tr role="row" class="table-header-row">
                                        <th class="table-header-cell" role="columnheader" [resizeColumn]="true"
                                            ng-reflect-index="0">Department</th>
                                        <th class="table-header-cell" role="columnheader" [resizeColumn]="true"
                                            ng-reflect-index="1">Room</th>
                                        <th class="table-header-cell" role="columnheader" [resizeColumn]="true"
                                            ng-reflect-index="2">Equipment</th>
                                        <!-- <th>APQ</th>
                                        <th>FPQ</th> -->
                                        <th style="width: 100px;">QTY</th>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr>
                                        <th class="table-cell" role="gridcell"><input type="text"
                                                [(ngModel)]="departmentQuery" (keydown.enter)="loadEquipments()"
                                                placeholder="Search Department" fdprocessedid="6ij23s">
                                        </th>
                                        <th class="table-cell" role="gridcell"><input type="text"
                                                [(ngModel)]="roomQuery" (keydown.enter)="loadEquipments()"
                                                placeholder="Search Room" fdprocessedid="tvivm"></th>
                                        <th class="table-cell" role="gridcell"><input type="text"
                                                [(ngModel)]="equipmentQuery" (keydown.enter)="loadEquipments()"
                                                placeholder="Search Equipment" fdprocessedid="aw57a6">
                                        </th>
                                        <!-- <th></th>
                                        <th></th> -->
                                        <th class="table-cell" role="gridcell"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr role="row" class="odd" *ngFor="let eqp of filteredEquipmentData; let i=index;">
                                        <td container="body" class="table-cell" role="gridcell" (click)="selectDept(eqp,i)" 
                                        [class.selectedRoom]="selectedDeptIndex === i" placement="top"
                                            [ngbTooltip]="eqp.department.name"><strong>{{eqp.department.code}}</strong>
                                            - {{eqp.department.name}} </td>
                                        <td class="table-cell" role="gridcell" (click)="selectRoom(eqp,i)"
                                            [class.selectedRoom]="selectedIndex === i" role="button" placement="top"
                                            container="body" [ngbTooltip]="eqp.room.name">
                                            <!-- <div data-dep="AD - ADMINISTRATION (L4)" data-room="AD101 - RECEPTION"
                                                data-room_code="27278">
                                               
                                            </div> -->
                                            <strong>{{eqp.room.code}}</strong> -
                                            {{eqp.room.name}}
                                        </td>
                                        <td class="table-cell" role="gridcell" placement="top" container="body"
                                            [ngbTooltip]="eqp.name">
                                            <!-- <div class="checkbox" style="margin: 0px;">
                                                <label>
                                                    <input type="checkbox" name="eq_id" value="174731">
                                                    <strong (click)="openDetailModal(eqp)">{{eqp.code}}</strong> -
                                                    {{eqp.name}}
                                                </label>
                                            </div> -->
                                            <input type="checkbox" name="eq_id" value="174731">
                                            <strong (click)="openDetailModal(eqp)">{{eqp.code}}</strong> -
                                            {{eqp.name}}
                                        </td>
                                        <!-- <td class="bg-yellow editablex">
                                            <app-edit-input-equipment [data]="eqp.apq || 0" [equipmentId]="eqp.id"
                                                [field]="'apq'" [inputsize]="100"></app-edit-input-equipment>
                                        </td>
                                        <td class="bg-yellow editablex">
                                            <app-edit-input-equipment [data]="eqp.fpq || 0" [equipmentId]="eqp.id"
                                                [field]="'fpq'" [inputsize]="100"></app-edit-input-equipment>
                                        </td> -->
                                        <td role="gridcell" class="table-cell bg-yellow editablex">
                                            <app-edit-input-equipment [data]="eqp.qty || 0" [equipmentId]="eqp.id"
                                                [field]="'qty'" [inputType]="'text'"
                                                [inputsize]="100"></app-edit-input-equipment>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="pagination-wrap">
                            <p>Current page: {{ page }}</p>
                            <ngb-pagination class="d-inline-block" [collectionSize]="count" [(page)]="page"
                                (pageChange)="loadEquipments()" aria-label="Default pagination"
                                [maxSize]="maxSize"></ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- modal -->
<div class="container demo">
    <!-- Modal -->
    <div class="modal right fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel3">Equipment</h4>
                </div>
                <div class="modal-body">
                    <h4>Replace Equipment</h4>
                    <div class="d-flex justify-content-center align-items-center bg-light">
                        <div class="card p-3 shadow">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Selected Equipment(s) to be Replaced:</label>
                                    <select name="room" class="form-control" multiple="" size="10"
                                        fdprocessedid="0a4vep">
                                        <option selected="">HCS130/182 - AUTOCLAVE 20CUFT SINGLE DOOR W ACCESS. (FUTURE)
                                        </option>
                                    </select>
                                    <small>Above list shows unique Equipment</small>
                                </div>
                                <div class="form-group mt-2">
                                    <h4 class="mb-4">Select New Equipment:</h4>
                                    <div class="table-responsive">
                                        <table id="example3" class="table" cellspacing="0" width="100%">
                                            <thead>
                                                <tr role="row">
                                                    <th></th>
                                                    <th>Equipment</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><input class="checkbox" type="checkbox" name="" value=""></td>
                                                    <td>SPO/014 - WATER JET</td>
                                                </tr>
                                                <tr>
                                                    <td><input class="checkbox" type="checkbox" name="" value=""></td>
                                                    <td>SPO/020 - VACUUM PUMP WITHOUT TANK</td>
                                                </tr>
                                                <tr>
                                                    <td><input class="checkbox" type="checkbox" name="" value=""></td>
                                                    <td>SPO/027 - VACUUM FORMING WORKSTATION WITH INTEGRATED TANK</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="col-md-12 text-center mt-3">
                                    <button type="submit" class="btn btn-primary px-4 me-3 m"
                                        fdprocessedid="hipqpp">Ok</button>
                                    <a class="btn btn-secondary px-5" href="" data-dismiss="modal">Close</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal-content -->
        </div>
        <!-- modal-dialog -->
    </div>
    <!-- modal -->
</div>
<!-- container -->




<!-- modal -->
<div class="container demo">
    <!-- Modal -->
    <div class="modal right fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel3">Sidebar</h4>
                </div>
                <div class="modal-body">

                    <h4>Replace Equipment</h4>

                    <div class="d-flex justify-content-center align-items-center bg-light">
                        <div class="card p-3 shadow">
                            <div class="col-sm-12">

                                <div class="form-group">
                                    <label>Selected Equipment(s) to be Replaced:</label>
                                    <select name="room" class="form-control" multiple="" size="10"
                                        fdprocessedid="0a4vep">
                                        <option selected="">HCS130/182 - AUTOCLAVE 20CUFT SINGLE DOOR W ACCESS. (FUTURE)
                                        </option>
                                    </select>
                                    <small>Above list shows unique Equipment</small>
                                </div>

                                <div class="form-group mt-2">
                                    <h4 class="mb-4">Select New Equipment:</h4>
                                    <div class="table-responsive">
                                        <table id="example3" class="display" cellspacing="0" width="100%">
                                            <thead>

                                                <tr role="row">
                                                    <th></th>
                                                    <th>Equipment</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><input class="checkbox" type="checkbox" name="" value=""></td>
                                                    <td>SPO/014 - WATER JET</td>
                                                </tr>

                                                <tr>
                                                    <td><input class="checkbox" type="checkbox" name="" value=""></td>
                                                    <td>SPO/020 - VACUUM PUMP WITHOUT TANK</td>


                                                </tr>


                                                <tr>
                                                    <td><input class="checkbox" type="checkbox" name="" value=""></td>
                                                    <td>SPO/027 - VACUUM FORMING WORKSTATION WITH INTEGRATED TANK</td>


                                                </tr>
                                            </tbody>


                                        </table>
                                    </div>

                                </div>

                                <div class="col-md-12 text-center mt-3">

                                    <button type="submit" class="btn btn-primary px-4 me-3 m"
                                        fdprocessedid="hipqpp">Ok</button>
                                    <a class="btn btn-secondary px-5" href="">Close</a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <!-- modal-content -->
        </div>
        <!-- modal-dialog -->
    </div>
    <!-- modal -->
</div>
<!-- container -->
<!-- </div> -->
<!-- container -->