<section class="section">
  <div class="container">
    <div class="row page-content">
      <div class="col-md-12">
        <div class="d-lg-flex align-items-center mb-4 gap-3">
          <h4 class="mb-0 text-primary">{{ isEdit ? 'Edit Utility' : 'Add Utility' }}</h4>
          <div class="ms-auto"><a routerLink="/pages/utility-detail" class="btn btn-primary sqare-0 mt-2 mt-lg-0"><i
                class="bx bx-table"></i>Manage Utility</a></div>
        </div>
        <div class="card border-top border-0 border-4 border-primary">
          <div class="card-body p-5">
            <app-loader *ngIf="loader"></app-loader>
            <form [formGroup]="addUtility" (ngSubmit)="SaveData()">
              <div class="col-md-6">
                <label for="inputFirstName" class="form-label">Utility Code</label>
                <input type="text" class="form-control" id="inputFirstName" placeholder="Enter Utility code"
                  formControlName="code" autocomplete="off"
                  [ngClass]="{'is-invalid':submitted && addUtility.controls['code'].errors}" />
                <div class="text-danger"
                  *ngIf="submitted && addUtility.controls['code'].errors && addUtility.controls['code'].errors?.['required']">
                  Utility code is required</div>
              </div>
              <div class="col-md-6 mt-3">
                <label for="inputLastName" class="form-label">Utility Name</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="Enter Utility name"
                  formControlName="name" autocomplete="off"
                  [ngClass]="{'is-invalid':submitted && addUtility.controls['code'].errors}">
                <div class="text-danger"
                  *ngIf="submitted && addUtility.controls['name'].errors && addUtility.controls['name'].errors?.['required']">
                  Utility name is required</div>
              </div>
              <div class="col-md-6 text-center mt-3">
                <button type="submit" class="btn btn-primary px-4 me-3">{{ isEdit ? 'Update' : 'Save'}}</button>
                <a routerLink="/pages/utility-detail"><i class="material-icon">Cancel</i></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
