<section class="section">
    <div class="container">
       <div class="row page-content">
          <div class="col-md-12">
             <div class="d-lg-flex align-items-center mb-4 gap-3">
                <h4 class="mb-0 text-primary">Equipment - Specification </h4>
             </div>
          </div>
          <div class="col-sm-12">
             <form class="form-horizontal" method="post">
                <div>
                   
                   <table class="table-responsive" cellspacing="0">
                      <tbody>
                         <tr style="border: 1px solid #a2a2a2;">
                            <td colspan="2">
                               <div style="text-align: center; float: left; line-height: 64px; padding-left: 10px;; font-size: 16px; font-weight: bold;">EQUIPMENT SPECIFICATION</div>
                               <div style="width: 150px; float: right;  padding-right: 25px; top: 0px;font-weight: bold;">Rev no:<input type="text" name="rev_no" value="" class="form-control" fdprocessedid="pbdgo"></div>
                            </td>
                         </tr>
                         <tr>
                            <td colspan="2" style="border: 1px solid #a2a2a2; padding: 35px 0px 10px 5px; font-size: 16px; font-weight: bold">
                               <div style="margin-top: 5px; margin-bottom: 15px">Item Code: AA0003</div>
                               <div style="margin-top: 5px; margin-bottom: 15px">Item Description: AIRWAY GUEDEL VARIOUS SIZES</div>
                               <table style="width: 100%; font-weight: 400;font-size: 14px" cellspacing="0;">
                                  <tbody>
                                     <tr>
                                        <td style="padding-bottom: 10px; border: 1px solid #a2a2a2; padding-left: 10px; ">Proposed Brand:</td>
                                        <td style="border: 1px solid #a2a2a2; "><input type="text" name="brand[]" value="" class="form-control" fdprocessedid="gqvvxe"></td>
                                        <td style="border: 1px solid #a2a2a2; "><input type="text" name="brand[]" value="" class="form-control" fdprocessedid="tibsth"></td>
                                        <td style="border: 1px solid #a2a2a2; "><input type="text" name="brand[]" value="" class="form-control" fdprocessedid="yv9n5i"></td>
                                        <td style="border: 1px solid #a2a2a2; "><input type="text" name="brand[]" value="" class="form-control" fdprocessedid="rojbbl"></td>
                                     </tr>
                                     <tr>
                                        <td style="padding-bottom: 10px; border: 1px solid #a2a2a2; padding-left: 10px;">Model:</td>
                                        <td style="border: 1px solid #a2a2a2; "><input type="text" name="model[]" value="" class="form-control" fdprocessedid="xm4kw8"></td>
                                        <td style="border: 1px solid #a2a2a2; "><input type="text" name="model[]" value="" class="form-control" fdprocessedid="36ltj"></td>
                                        <td style="border: 1px solid #a2a2a2; "><input type="text" name="model[]" value="" class="form-control" fdprocessedid="dbl7f6"></td>
                                        <td style="border: 1px solid #a2a2a2; "><input type="text" name="model[]" value="" class="form-control" fdprocessedid="hyaee"></td>
                                     </tr>
                                     <tr>
                                        <td style="padding-bottom: 10px;border: 1px solid #a2a2a2; padding-left: 10px; ">Country of Origin:</td>
                                        <td style="border: 1px solid #a2a2a2; "><input type="text" name="country_origin[]" value="" class="form-control" fdprocessedid="kkt69"></td>
                                        <td style="border: 1px solid #a2a2a2; "><input type="text" name="country_origin[]" value="" class="form-control" fdprocessedid="xw90bl"></td>
                                        <td style="border: 1px solid #a2a2a2; "><input type="text" name="country_origin[]" value="" class="form-control" fdprocessedid="zki2qg"></td>
                                        <td style="border: 1px solid #a2a2a2; "><input type="text" name="country_origin[]" value="" class="form-control" fdprocessedid="hnvnk3"></td>
                                     </tr>
                                  </tbody>
                               </table>
                            </td>
                         </tr>
                         <tr>
                            <td colspan="2" style="border: 1px solid #a2a2a2; padding: 5px 0px 50px 5px; font-size: 14px">
                               a. General Description:
                               <textarea name="description" class="form-control"></textarea>
                            </td>
                         </tr>
                         <tr>
                            <td colspan="2" style="border: 1px solid #a2a2a2; padding: 5px 0px 30px 5px; font-size: 14px">
                               b. Component:
                               <textarea name="component" class="form-control"></textarea>
                            </td>
                         </tr>
                         <tr>
                            <td colspan="2" style="border: 1px solid #a2a2a2; padding: 5px 0px 30px 5px; font-size: 14px">
                               c. Technical Specification:
                               <textarea name="tech_spec" class="form-control">
                               </textarea>
                            </td>
                         </tr>
                         <tr>
                            <td style="border: 1px solid #a2a2a2; padding: 5px 0px 60px 5px; font-size: 14px">
                               d. Dimension / Weight:
                               <textarea name="dim_weight" class="form-control"></textarea>
                            </td>
                            <td style="border: 1px solid #a2a2a2; padding: 5px 0px 60px 5px; font-size: 14px">
                               e. Standard Complied:
                               <textarea name="standard" class="form-control"></textarea>
                            </td>
                         </tr>
                         <tr>
                            <td style="border: 1px solid #a2a2a2; padding: 5px 0px 60px 5px; font-size: 14px">
                               f. Accessories:
                               <textarea name="accessories" class="form-control"></textarea>
                            </td>
                            <td style="border: 1px solid #a2a2a2; padding: 5px 0px 60px 5px; font-size: 14px">
                               g. Startup Consumables:
                               <textarea name="startup_consume" class="form-control"></textarea>
                            </td>
                         </tr>
                         <tr>
                            <td style="border: 1px solid #a2a2a2; padding: 5px 0px 60px 5px; font-size: 14px">
                               h. Software License:
                               <textarea name="software_license" class="form-control"></textarea>
                            </td>
                            <td style="border: 1px solid #a2a2a2; padding: 5px 0px 60px 5px; font-size: 14px">
                               i. Others if any:
                               <textarea name="others" class="form-control"></textarea>
                            </td>
                         </tr>
                         <tr>
                            <td colspan="2" style="border: 1px solid #a2a2a2; padding: 5px 0px 10px 5px; font-size: 14px">
                               i. Services Requirement: Specify no. of outlet.
                               <table cellspacing="0" style="margin-top: 10px">
                                  <tbody>
                                     <tr>
                                        <td style="width: 75px; border: 1px solid #a2a2a2;"><input type="text" name="no_outlet[]" value="" class="form-control" fdprocessedid="yxg1ug"></td>
                                        <td style="width: 75px; padding-left: 5px; padding-right: 5px;">240V/50Hz</td>
                                        <td style="width: 75px; border: 1px solid #a2a2a2;"><input type="text" name="no_outlet[]" value="" class="form-control" fdprocessedid="qx9cc6"></td>
                                        <td style="width: 75px;padding-left: 5px; padding-right: 5px;">415V/50Hz</td>
                                        <td style="width: 75px; border: 1px solid #a2a2a2;"><input type="text" name="no_outlet[]" value="" class="form-control" fdprocessedid="vfyx6"></td>
                                        <td style="width: 75px;padding-left: 5px; padding-right: 5px;">Hot Water</td>
                                        <td style="width: 75px; border: 1px solid #a2a2a2;"><input type="text" name="no_outlet[]" value="" class="form-control" fdprocessedid="lkuhju"></td>
                                        <td style="width: 75px;padding-left: 5px; padding-right: 5px;">Exhaust</td>
                                        <td style="width: 75px; border: 1px solid #a2a2a2;"><input type="text" name="no_outlet[]" value="" class="form-control" fdprocessedid="1qacj"></td>
                                        <td style="width: 75px;padding-left: 5px; padding-right: 5px;">Med Gas</td>
                                     </tr>
                                     <tr>
                                        <td colspan="10" style="padding-top: 15px"></td>
                                     </tr>
                                     <tr>
                                        <td style="width: 75px; border: 1px solid #a2a2a2;"><input type="text" name="no_outlet[]" value="" class="form-control" fdprocessedid="0mpbz"></td>
                                        <td style="width: 75px; padding-left: 5px; padding-right: 5px;">LPG</td>
                                        <td style="width: 75px; border: 1px solid #a2a2a2;"><input type="text" name="no_outlet[]" value="" class="form-control" fdprocessedid="j362s"></td>
                                        <td style="width: 75px; padding-left: 5px; padding-right: 5px;">Steam</td>
                                        <td style="width: 75px; border: 1px solid #a2a2a2;"><input type="text" name="no_outlet[]" value="" class="form-control" fdprocessedid="ulzgtf"></td>
                                        <td style="width: 75px; padding-left: 5px; padding-right: 5px;">Cold Water</td>
                                        <td style="width: 75px; border: 1px solid #a2a2a2;"><input type="text" name="no_outlet[]" value="" class="form-control" fdprocessedid="4s2rvk"></td>
                                        <td style="width: 75px; padding-left: 5px; padding-right: 5px;">Air Cond</td>
                                        <td style="width: 75px; border: 1px solid #a2a2a2;"><input type="text" name="no_outlet[]" value="" class="form-control" fdprocessedid="bo3338"></td>
                                        <td style="width: 75px; padding-left: 5px; padding-right: 5px;">Drainage</td>
                                     </tr>
                                     <tr>
                                        <td colspan="10" style="padding-top: 15px"></td>
                                     </tr>
                                     <tr>
                                        <td style="width: 75px; border: 1px solid #a2a2a2;"><input type="text" name="no_outlet[]" value="" class="form-control" fdprocessedid="aff5ew"></td>
                                        <td style="padding-left: 5px; padding-right: 5px;">IT</td>
                                     </tr>
                                     <tr style="padding-top: 10px">
                                        <td colspan="5">Room Req.:<input type="text" name="room_req" value="" class="form-control" fdprocessedid="3sjhbt"></td>
                                        <td colspan="5">Delivery Path Req.:<input type="text" name="delivery_req" value="" class="form-control" fdprocessedid="ic6awm"></td>
                                     </tr>
                                  </tbody>
                               </table>
                            </td>
                         </tr>
                         <tr>
                            <td colspan="2" style="border: 1px solid #a2a2a2; padding: 5px 0px 10px 5px; font-size: 14px">
                               k. Attachment:
                               <table cellspacing="0" style="margin-top: 10px">
                                  <tbody>
                                     <tr>
                                        <td style="width: 75px; border: 1px solid #a2a2a2;"><input type="text" name="attachment[]" value="" class="form-control" fdprocessedid="s72s5a"></td>
                                        <td style="width: 150px; padding-left: 5px; padding-right: 5px;">Catalogues</td>
                                        <td style="width: 75px; border: 1px solid #a2a2a2;"><input type="text" name="attachment[]" value="" class="form-control" fdprocessedid="b0hive"></td>
                                        <td style="width: 150px;padding-left: 5px; padding-right: 5px;">Shop Drawing</td>
                                        <td style="width: 75px; border: 1px solid #a2a2a2;"><input type="text" name="attachment[]" value="" class="form-control" fdprocessedid="j0shma"></td>
                                        <td style="width: 150px;padding-left: 5px; padding-right: 5px;">List of Installed Based</td>
                                     </tr>
                                     <tr>
                                        <td colspan="10" style="padding-top: 15px"></td>
                                     </tr>
                                     <tr>
                                        <td style="width: 75px; border: 1px solid #a2a2a2;"><input type="text" name="attachment[]" value="" class="form-control" fdprocessedid="omygno"></td>
                                        <td style="padding-left: 5px; padding-right: 5px;">Company Profile</td>
                                        <td style="width: 75px; border: 1px solid #a2a2a2;"><input type="text" name="attachment[]" value="" class="form-control" fdprocessedid="na6toh"></td>
                                        <td style="padding-left: 5px; padding-right: 5px;">Tentative PPM Schedule</td>
                                        <td style="width: 75px; border: 1px solid #a2a2a2;"><input type="text" name="attachment[]" value="" class="form-control" fdprocessedid="81ulvq"></td>
                                        <td style="padding-left: 5px; padding-right: 5px;">Product Authorization Letter</td>
                                     </tr>
                                  </tbody>
                               </table>
                            </td>
                         </tr>
                         <tr>
                            <td colspan="2" style="border: 1px solid #a2a2a2; padding: 5px 0px 80px 5px; font-size: 14px">
                               l. Remarks:
                               <textarea name="remarks" class="form-control"></textarea>
                            </td>
                         </tr>
                      </tbody>
                   </table>
                   <div class="col-md-12 text-center mt-3">
                       
                          
                    <button type="submit" class="btn btn-primary px-4 me-3" fdprocessedid="hipqpp">Save</button>	
                    <a class="btn btn-secondary px-4" href="">Cancel</a>				
                 
              </div>
                </div>
             </form>
          </div>
       </div>
    </div>
 </section>