
<section class="section">

    <div class="container">
        <div class="row page-content">
           <div class="col-md-12">

            <div class="d-lg-flex align-items-center mb-4 gap-3">
                <h4 class="mb-0 text-primary">Package </h4>
                <div class="ms-auto"><a routerLink="/add-package" class="btn btn-primary sqare-0 mt-2 mt-lg-0">
                    <i class="bx bxs-plus-square"></i>Add Package</a></div>
             </div>
            <div class="row page-content">
                
                <div class="col-md-12">
                    <div class="card p-3">
                        <div class="card-body">
                            <table class="example table dt-responsive nowrap table-responsive" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Package Code</th>
                                        <th>Package Name</th>
                                        <th>Active</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of packagedata;let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{item.packagecode}}</td>
                                        <td>{{item.packagename}}</td>
                                        <td>{{item.active}}</td>
                                        <td>
                                            <!-- <div class="d-flex order-actions"> -->
                                                <!-- <a routerLink="/add-package/{{item._id}}" class="btn text-success"><i class='bx bxs-edit'></i></a>  <a routerLink="/"  (click)="delete(item._id)" class="btn text-danger ms-3" ><i class='bx bxs-trash'></i></a> -->
                                                <a routerLink="/add-package/{{item._id}}"><i class="material-icons">Edit</i></a>  <a href="javascript:;"  (click)="delete(item._id)"  ><i class="material-icon">Delete</i></a>

                                            <!-- </div> -->
                                        </td>
                                    </tr>
   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
 </div>
 </div>
 </div>
 </div>
 </section>