<section class="section">

  <div class="container">
    <div class="row page-content">

      <div class="col-md-12">

        <div class="d-lg-flex align-items-center mb-4 gap-3">
          <h4 class="mb-0 text-primary">Add Equipment </h4>
          <div class="ms-auto"><a routerLink="/pages/equipment-data" class="btn btn-primary sqare-0 mt-2 mt-lg-0"><i
                class="bx bx-table"></i>Manage Department</a></div>
        </div>

        <div class="card border-top border-0 border-4 border-primary">
          <div class="card-body p-4">

            <form class="row" [formGroup]="addEquipment" (ngSubmit)="SaveData()" autocomplete="off">
              <div class="col-md-6 mt-0">
                <label for="inputFirstName" class="form-label">Equipment Code</label>
                <input type="text" class="form-control" id="inputFirstName" placeholder="Enter Equipment code"
                  formControlName="code"
                  [ngClass]="{'is-invalid': submitted && addEquipment.controls['code'].errors}">

                <div class="text-danger"
                  *ngIf="submitted && addEquipment.controls['code'].errors && addEquipment.controls['code'].errors?.['required']">
                  Equipment code is required</div>
              </div>
              <div class="col-md-6 mt-3 mt-md-0">
                <label for="inputLastName" class="form-label">Equipment Name</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="Enter Equipment name"
                  formControlName="name"
                  [ngClass]="{'is-invalid': submitted && addEquipment.controls['name'].errors}">

                <div class="text-danger"
                  *ngIf="submitted && addEquipment.controls['name'].errors && addEquipment.controls['name'].errors?.['required']">
                  Equipment name is required</div>
              </div>
              <div class="col-md-6 mt-3">
                <label for="inputLastName" class="form-label">Cost</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="Enter Cost"
                  formControlName="cost" [ngClass]="{'is-invalid': submitted && addEquipment.controls['cost'].errors}">

                <div class="text-danger"
                  *ngIf="submitted && addEquipment.controls['cost'].errors && addEquipment.controls['cost'].errors?.['required']">
                  Cost is required</div>
              </div>
              <div class="col-md-6 mt-3">
                <label for="inputLastName" class="form-label">Mark Up (%)</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="Enter Mark Up (%)"
                  formControlName="markUp"
                  [ngClass]="{'is-invalid': submitted && addEquipment.controls['markUp'].errors}">

                <div class="text-danger"
                  *ngIf="submitted && addEquipment.controls['markUp'].errors && addEquipment.controls['markUp'].errors?.['required']">
                  Mark up is required</div>
              </div>
              <div class="col-md-6 mt-3">
                <label for="inputLastName" class="form-label">HEAT DISSIPATION (kw)(each)</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="Enter HEAT DISSIPATION"
                  formControlName="heatDissipation"
                  [ngClass]="{'is-invalid': submitted && addEquipment.controls['heatDissipation'].errors}">

                <div class="text-danger"
                  *ngIf="submitted && addEquipment.controls['heatDissipation'].errors && addEquipment.controls['heatDissipation'].errors?.['required']">
                  Heat dissipation is required</div>
              </div>
              <div class="col-md-6 mt-3">
                <label for="inputLastName" class="form-label">ICT PORT</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="Enter ICT PORT"
                  formControlName="ictPort"
                  [ngClass]="{'is-invalid': submitted && addEquipment.controls['ictPort'].errors}">

                <div class="text-danger"
                  *ngIf="submitted && addEquipment.controls['ictPort'].errors && addEquipment.controls['ictPort'].errors?.['required']">
                  ICT port is required</div>
              </div>
              <div class="col-md-6 mt-3">
                <label for="inputLastName" class="form-label">BSS PORT</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="Enter BSS PORT"
                  formControlName="bssPort"
                  [ngClass]="{'is-invalid': submitted && addEquipment.controls['bssPort'].errors}">

                <div class="text-danger"
                  *ngIf="submitted && addEquipment.controls['bssPort'].errors && addEquipment.controls['bssPort'].errors?.['required']">
                  BSS port is required</div>
              </div>
              <div class="col-md-6 text-center mt-3">
                <button type="submit" class="btn btn-primary px-4 me-3">{{ isEdit ? 'Update' : 'Save'}}</button>
                <a routerLink="/pages/equipment-data"><i class="material-icon">Cancel</i></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
