<div class="modal-header">
    <h4 class="modal-title">Filter</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="table">
                    <table id="example" role="grid" class="table" formArrayName="filters">
                        <thead>
                            <tr role="row">
                                <th>Department</th>
                                <th>Room</th>
                                <th>Equipment</th>
                            </tr>
                        </thead>
                        <thead>
                            <tr *ngFor="let filterForm of filters.controls; let i = index" [formGroupName]="i">
                                <!-- <ng-container [formGroup]="filterForm"> -->
                                <td><input type="text" placeholder="Search Department" formControlName="department"
                                        fdprocessedid="6ij23s">
                                </td>
                                <td><input type="text" placeholder="Search Room" formControlName="room"
                                        fdprocessedid="tvivm">
                                </td>
                                <td><input type="text" placeholder="Search Equipment" formControlName="equipment"
                                        fdprocessedid="aw57a6">
                                </td>
                                <!-- </ng-container> -->
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Apply</button>
        <!-- <button type="button" class="btn btn-warning">Reset</button> -->
        <button type="button" class="btn btn-danger" (click)="activeModal.dismiss('Cancel click')">Cancel</button>
    </div>
</form>