
/* .text-success{
    text-align: center;
    background-color: #2fa4e7;
    color: white;
    padding: 5px 25px;
    border-radius: 5px;
    font-size: smaller;
    color: whitesmoke;
    
} */
/* .text-danger{
    text-align: center;
    background-color:orangered;
    color: white;
    padding: 5px 25px;
    border-radius: 5px;
    font-size: smaller;
    
    
} */


