

<section class="section">

    <div class="container">
        <div class="row page-content">
           <div class="col-md-12">

            <div class="d-lg-flex align-items-center mb-4 gap-3">
                <h4 class="mb-0 text-primary">Equipment </h4>
                <div class="ms-auto"><a routerLink="/add-equipment" class="btn btn-primary sqare-0 mt-2 mt-lg-0">
                    <i class="bx bxs-plus-square"></i>Add add-equipment</a></div>
             </div>

            <div class="row page-content">
                
                <div class="col-md-12">
                    <div class="card p-3">
                        <div class="card-body">
                            <table class="example table dt-responsive nowrap table-responsive" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Equipment Code</th>
                                        <th>Equipment Name</th>
                                        <th>Cost</th>
                                        <th>Mark Up (%)</th>
                                        <th>Group</th>
                                        <th>RM</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>AA0003</td>
                                        <td><span class="hiddentxt">AIRWAY GUEDEL VARIOUS SIZES</span><span class="hiddenimg"><img src="assets/images/equipment/1.jpg" class="img-fluid" alt="equipment" /></span></td>
                                        <td>100.00</td>
                                        <td>0.00</td>
                                        <td>-</td>
                                        <td></td>
                                        <td>
                                            <div class="d-flex order-actions">
                                                <a href="javascript:;" class="btn btn-brand me-2">Brand</a>
                                                <a href="javascript:;" class="btn btn-spec me-2">Spec</a>
                                                <a href="javascript:;" class=" me-2 text-success" data-bs-toggle="tooltip" title="View/Edit"><i class='bx bxs-edit'></i></a>
                                                <a href="javascript:;" class=" me-2 text-danger" data-bs-toggle="tooltip" title="Delete"><i class='bx bxs-trash'></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>AA0020</td>
                                        <td><span class="hiddentxt">INFUSOR PRESSURE</span><span class="hiddenimg"><img src="assets/images/equipment/2.jpg" class="img-fluid" alt="equipment" /></span></td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <div class="d-flex order-actions">
                                                <a href="javascript:;" class="btn btn-brand me-2">Brand</a>
                                                <a href="javascript:;" class="btn btn-spec me-2">Spec</a>
                                                <a href="javascript:;" class=" me-2 text-success" data-bs-toggle="tooltip" title="View/Edit"><i class='bx bxs-edit'></i></a>
                                                <a href="javascript:;" class=" me-2 text-danger" data-bs-toggle="tooltip" title="Delete"><i class='bx bxs-trash'></i></a>
                                                <!-- <a href="add-equipment.html" class=" me-2"><i class='bx bxs-edit'></i></a>
                                                <a href="javascript:;" class=""><i class='bx bxs-trash'></i></a> -->
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>HID066/037A</td>
                                        <td><span class="hiddentxt">IMPRESSION TRAY(PAEDS)</span><span class="hiddenimg"><img src="assets/images/equipment/3.jpg" class="img-fluid" alt="equipment" /></span></td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <div class="d-flex order-actions">
                                                <a href="javascript:;" class="btn btn-brand me-2">Brand</a>
                                                <a href="javascript:;" class="btn btn-spec me-2">Spec</a>
                                                <a href="javascript:;" class=" me-2 text-success" data-bs-toggle="tooltip" title="View/Edit"><i class='bx bxs-edit'></i></a>
                                                <a href="javascript:;" class=" me-2 text-danger" data-bs-toggle="tooltip" title="Delete"><i class='bx bxs-trash'></i></a>
                                                <!-- <a href="add-equipment.html" class=" me-2"><i class='bx bxs-edit'></i></a>
                                                <a href="javascript:;" class=""><i class='bx bxs-trash'></i></a> -->
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>HTT/000/000</td>
                                        <td><span class="hiddentxt">TEST ITEM</span><span class="hiddenimg"><img src="assets/images/equipment/1.jpg" class="img-fluid" alt="equipment" /></span></td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>G3</td>
                                        <td>LLME</td>
                                        <td>
                                            <div class="d-flex order-actions">
                                                <a href="javascript:;" class="btn btn-brand me-2">Brand</a>
                                                <a href="javascript:;" class="btn btn-spec me-2">Spec</a>
                                                <a href="javascript:;" class=" me-2 text-success" data-bs-toggle="tooltip" title="View/Edit"><i class='bx bxs-edit'></i></a>
                                                <a href="javascript:;" class=" me-2 text-danger" data-bs-toggle="tooltip" title="Delete"><i class='bx bxs-trash'></i></a>
                                                <!-- <a href="add-equipment.html" class=" me-2"><i class='bx bxs-edit'></i></a>
                                                <a href="javascript:;" class=""><i class='bx bxs-trash'></i></a> -->
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>SRO/028</td>
                                        <td><span class="hiddentxt">HANDY REHAB</span><span class="hiddenimg"><img src="assets/images/equipment/5.jpg" class="img-fluid" alt="equipment" /></span></td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <div class="d-flex order-actions">
                                                <a href="javascript:;" class="btn btn-brand me-2">Brand</a>
                                                <a href="javascript:;" class="btn btn-spec me-2">Spec</a>
                                                <a href="javascript:;" class=" me-2 text-success" data-bs-toggle="tooltip" title="View/Edit"><i class='bx bxs-edit'></i></a>
                                                <a href="javascript:;" class=" me-2 text-danger" data-bs-toggle="tooltip" title="Delete"><i class='bx bxs-trash'></i></a>
                                                <!-- <a href="add-equipment.html" class=" me-2"><i class='bx bxs-edit'></i></a>
                                                <a href="javascript:;" class=""><i class='bx bxs-trash'></i></a> -->
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
   </div>
   </div>
   </div>
   </div>
   </section>