
        .material-icon{
            display: inline-block;
            padding:5px 15px;
            font-size: 16px;
            font-family:Arial, Helvetica, sans-serif;
            text-align: center;
            text-decoration: none;
            color: #fff;
            background-color:orangered;
            border-radius: 8px;
            font-style: normal;
            height: 37px;
        
        }