<div class="page-wrapper">
  <section class="section">
    <div class="container">
      <div class="row page-content">
        <div class="col-md-12">
          <div class="d-lg-flex align-items-center mb-4 gap-3">
            <h4 class="mb-0 text-primary">User</h4>
            <div class="ms-auto"><a routerLink="/add-admin-user" class="btn btn-primary radius-30 mt-2 mt-lg-0"><i
                  class="bx bxs-plus-square"></i>Add User</a></div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card p-3">
            <div class="card-body">
              <table class="example table dt-responsive nowrap table-responsive" style="width:100%;">
                <thead class="table-light">
                  <tr>
                    <th>S.No</th>
                    <th>Username</th>
                    <th>Staff ID</th>
                    <th>Admin</th>
                    <th>Active</th>
                    <th>Group</th>
                    <th>Valid Until</th>
                    <th>Remarks</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of userdata; let i = index">
                    <td>{{ skip + i+1 }}</td>
                    <td>{{ item.username }}</td>
                    <td>{{ item.staffid }}</td>
                    <td>{{ item.admin }}</td>
                    <td>{{ item.active ? 'Yes' : 'No' }}</td>
                    <td>{{ item.group }}</td>
                    <td>{{ item.valid }}</td>
                    <td></td>
                    <td>
                      <div class="d-flex order-actions">
                        <a routerLink="/edit-user/{{ item.id }}" title="Edit" class="text-success me-2"><i
                            class="fa fa-edit"> </i> </a>
                        <a href="javascript:;" (click)="delete(item.id)" title="Delete" class="text-danger me-2"><i
                            class="fa fa-trash"> </i> </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5">
                      <ngb-pagination [collectionSize]="count" [(page)]="page" (pageChange)="find()"
                        aria-label="Default pagination"></ngb-pagination>
                      <pre>Current page: {{page}}</pre>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
