<div class="page-wrapper">
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card border-top border-0 border-4 border-primary">
            <div class="card-body p-5">
              <div class="card-title d-flex align-items-center">
                <h5 class="mb-0 text-primary">Add User</h5>
              </div>

              <form [formGroup]="userForm" (ngSubmit)="SaveUserData()" class="row g-3">
                <div class="col-md-6">
                  <label for="inputFirstName" class="form-label">Username</label>
                  <input type="text" class="form-control" id="inputFirstName" placeholder="Enter Username"
                    formControlName="userName" autocomplete="off"
                    [ngClass]="{'is-invalid': submitted && userForm.controls['userName'].errors}" />
                  <div class="text-danger" *ngIf="submitted && userForm.controls['userName'].errors?.['required']">
                    Username is required</div>
                </div>
                <div class="col-md-6">
                  <label for="inputLastName" class="form-label">Staff ID</label>
                  <input type="text" class="form-control" id="inputLastName" placeholder="Enter Staff ID"
                    formControlName="staffId" autocomplete="off"
                    [ngClass]="{'is-invalid': submitted && userForm.controls['staffId'].errors}" />
                  <div class="text-danger" *ngIf="submitted && userForm.controls['staffId'].errors?.['required']">
                    Staff ID is required</div>
                </div>
                <!-- <div class="col-md-6">
                  <label for="inputState" class="form-label">Admin</label>
                  <select id="inputState" class="form-select" formControlName="admin">
                    <option *ngFor="let admin of admin1" [value]="admin.value">{{
                      admin.label }}</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="inputState" class="form-label">Active</label>
                  <select id="inputState" class="form-select" formControlName="active">
                    <option *ngFor="let active of active1" [value]="active.value">{{
                      active.label }}</option>
                  </select>
                </div> -->

                <div class="col-md-6">
                  <label for="inputState" class="form-label">Admin</label>
                  <select id="inputState" class="form-select" formControlName="admin">
                    <option *ngFor="let admin of admin1" [value]="admin.value">{{ admin.label }}</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="inputState" class="form-label">Active</label>
                  <select id="inputState" class="form-select" formControlName="active">
                    <option *ngFor="let active of active1" [value]="active.value">{{ active.label }}</option>
                  </select>
                </div>
               <div class="col-md-6">
                  <label for="inputState" class="form-label">group</label>
                  <select id="inputState" class="form-select" formControlName="group">
                    <option *ngFor="let name of groupNames" [value]="name">{{ name }}</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="inputCity" class="form-label">Valid Until</label>
                  <input type="text" class="form-control" id="inputCity" placeholder="Enter Valid Until"
                    formControlName="valid" autocomplete="off"
                    [ngClass]="{'is-invalid': submitted && userForm.controls['valid'].errors}" />
                  <div class="text-danger" *ngIf="submitted && userForm.controls['valid'].errors?.['required']">
                    Valid Until is required</div>
                </div>
                <div class="col-md-6">
                  <label for="inputAddress" class="form-label">Remarks</label>
                  <textarea class="form-control" id="inputAddress" placeholder="Remarks..." rows="2"
                    formControlName="remarks"></textarea>
                </div>
                <div class="col-md-6">
                  <label for="Current" class="form-label">Current Password</label>
                  <input type="password" class="form-control" id="Current" placeholder="Current Password"
                    formControlName="CurrentPassword" autocomplete="off"
                    [ngClass]="{'is-invalid':submitted && userForm.controls['CurrentPassword'].errors}" />
                  <div class="text-danger"
                    *ngIf="submitted && userForm.controls['CurrentPassword'].errors && userForm.controls['CurrentPassword'].errors?.['required']">
                    Current Password is required
                  </div>
                </div>

                <div class="col-md-6">
                  <label for="Contact" class="form-label">Password</label>
                  <input type="password" class="form-control" id="Contact" placeholder="Enter Password"
                    formControlName="password" autocomplete="off"
                    [ngClass]="{'is-invalid':submitted && userForm.controls['password'].errors}" />
                  <div class="text-danger" *ngIf="submitted && userForm.controls['password'].errors?.['required']">
                    Password is required</div>
                </div>

                <div class="col-md-6">
                  <label for="Phone" class="form-label">Re-Enter Password</label>
                  <input type="password" class="form-control" id="Phone" placeholder="Enter Re-Enter Password"
                    formControlName="reEnterPassword" autocomplete="off"
                    [ngClass]="{'is-invalid':submitted && userForm.controls['reEnterPassword'].errors}" />
                  <div class="text-danger"
                    *ngIf="submitted && userForm.controls['reEnterPassword'].errors && userForm.controls['reEnterPassword'].errors?.['required']">
                    Confirm Password is required</div>
                  <div class="text-danger"
                    *ngIf="submitted && userForm.controls['reEnterPassword'].errors && userForm.controls['reEnterPassword'].value != userForm.controls['password'].value">
                    Password and Confirm Password should match</div>
                </div>

                <div class="text-danger" *ngIf="userForm.hasError('passwordMismatch')">
                  Passwords must match
                </div>
                <div class="col-12 text-center">
                  <button type="submit" class="btn btn-primary px-5 me-3">{{ isEdit ? 'Update' : 'Save'}}</button>
                  <a routerLink="/pages/admin-user" class="btn btn-secondary px-5">Cancel</a>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
